# GroupBY:
One of the powerfull feature of Pandas Library.It basically created from a DataFrame and what is does is create essentially grouping or categories that are based on comman values in certain columns or multiple columns.
Author:Amanpreet Singh(aman64039@gmail.com)

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("datasets/fortune1000.csv")
#this data consist of list of 1000 companies and we have rank of the companies , name ,sector of the company and so on.

data

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...,...
995,996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
996,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
998,999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
999,1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
Rank         1000 non-null int64
Company      1000 non-null object
Sector       1000 non-null object
Industry     1000 non-null object
Location     1000 non-null object
Revenue      1000 non-null int64
Profits      1000 non-null int64
Employees    1000 non-null int64
dtypes: int64(4), object(4)
memory usage: 62.6+ KB

In [3]:
#Rank as index
data.set_index('Rank',inplace=True)

In [13]:
data

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [4]:
"""
The Ideal thing that you want to groupby is always going to be a column that has duplicate value.
This basically mean you want to create a segments of your dataset.For Example there is not any 
point that we are grouping on company because every single vale in company column is unique.
But if we are grouping on sector its make some how sense because companies belong to a sector and
we can see how much unique value is availble in Sector. In sector only 
21 unqiue values are there in 1000 nrecord so we can make group on secotor.
So Sector is exactly perfect for us to Group by and the reason is that because there are multiple 
companies that fall into the exact same sector.Similary Industry is another good column because
multiple companies will fall to same industry as well.

lets have a look on syntax how we can use group by in on sector.

"""
data['Sector'].nunique()

21

In [5]:
"""
Sytax is we have to call a method name as groupby which take argument as a column name
on which you want to make a groups.So how is this going to work behind the sence.
Pandas is going to take a look at all of the values in the sector column for example its going 
to start at retail. Its then going to look through the data set and collect all the rows that fall
onto that sector.So after executing the follwing command this is going to be printed.
It will create a pandas dataframe grouo by object.
"""

data.groupby('Sector')

In [6]:
#now data is dataframe object and sector is groupby object. These 2 are seprtely object of pandas
#you can see
sector = data.groupby('Sector')
print(type(data)) #'pandas.core.frame.DataFrame'
print(type(sector)) #'pandas.core.groupby.generic.DataFrameGroupBy'

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [7]:
#both will return same output
len(sector)
data["Sector"].nunique()

21

In [8]:
#both will return the count of every unique values
sector.size()
data["Sector"].value_counts()

Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Materials                        43
Food, Beverages & Tobacco        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Hotels, Resturants & Leisure     25
Media                            25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Apparel                          15
Food and Drug Stores             15
Telecommunications               15
Name: Sector, dtype: int64

In [9]:
#will return the very first row  row of each and every sector 
sector.first()
#will return the last row  row of each and every sector 
sector.last()
#the convenience of the first and last methods is to be able to extract just sample rows from
#the top and the end of each grouping that gives us a general sense .

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,Fred’s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",Wendy’s,Food Services,"Dublin, OH",1896,161,21200
Household Products,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

In [10]:
#will return a dictionary in which keys will be the secotrs and values will be the list of index where the sector availble

sector.groups

{'Aerospace & Defense': Int64Index([ 24,  45,  60,  88, 118, 120, 209, 245, 282, 378, 389, 490, 560,
             605, 785, 788, 836, 903, 958, 987],
            dtype='int64', name='Rank'),
 'Apparel': Int64Index([91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877,
             882, 917],
            dtype='int64', name='Rank'),
 'Business Services': Int64Index([144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404,
             440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694,
             714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796,
             801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993],
            dtype='int64', name='Rank'),
 'Chemicals': Int64Index([ 56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549,
             555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829,
             865, 898, 934, 949],
            dtype='int64', name='Rank'),
 'Energy': Int64Index([  2,  14,  30,  32,  42,  65,  90,  95,  98, 104,
             ...
             953, 955, 962, 966, 980, 981, 983, 995, 997, 997],
            dtype='int64', name='Rank', length=122),
 'Engineering & Construction': Int64Index([155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516,
             572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994],
            dtype='int64', name='Rank'),
 'Financials': Int64Index([  4,  16,  23,  26,  27,  29,  35,  40,  43,  49,
             ...
             920, 923, 925, 926, 936, 938, 959, 976, 988, 996],
            dtype='int64', name='Rank', length=139),
 'Food and Drug Stores': Int64Index([7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849,
             928],
            dtype='int64', name='Rank'),
 'Food, Beverages & Tobacco': Int64Index([ 41,  44,  62,  66,  84,  94, 106, 149, 153, 161, 176, 207, 215,
             242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535,
             542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795,
             804, 889, 902, 954],
            dtype='int64', name='Rank'),
 'Health Care': Int64Index([  5,   6,  12,  21,  22,  33,  39,  46,  52,  55,  63,  72,  79,
              86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202,
             263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420,
             430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618,
             629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815,
             818, 845, 868, 881, 883, 935, 960, 965, 977, 978],
            dtype='int64', name='Rank'),
 'Hotels, Resturants & Leisure': Int64Index([109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557,
             562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999],
            dtype='int64', name='Rank'),
 'Household Products': Int64Index([ 34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455,
             533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950,
             967, 992],
            dtype='int64', name='Rank'),
 'Industrials': Int64Index([  11,   59,   75,   93,   97,  128,  134,  148,  211,  224,  360,
              377,  396,  412,  419,  539,  544,  596,  622,  623,  630,  645,
              655,  658,  666,  674,  690,  757,  782,  789,  806,  813,  823,
              831,  832,  835,  841,  847,  866,  867,  873,  887,  942,  947,
              964, 1000],
            dtype='int64', name='Rank'),
 'Materials': Int64Index([126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417,
             418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620,
             625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857,
             885, 911, 982, 986],
            dtype='int64', name='Rank'),
 'Media': Int64Index([ 53,  96,  99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681,
             705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989],
            dtype='int64', name='Rank'),
 'Motor Vehicles & Parts': Int64Index([  8,   9,  70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470,
             588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979],
            dtype='int64', name='Rank'),
 'Retailing': Int64Index([  1,  15,  28,  38,  47,  71,  89, 103, 111, 132, 136, 139, 143,
             145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267,
             269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379,
             380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582,
             592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748,
             771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937,
             940, 973],
            dtype='int64', name='Rank'),
 'Technology': Int64Index([  3,  18,  20,  25,  31,  36,  51,  54,  77, 110,
             ...
             931, 943, 944, 946, 956, 970, 971, 975, 984, 990],
            dtype='int64', name='Rank', length=102),
 'Telecommunications': Int64Index([10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619,
             786],
            dtype='int64', name='Rank'),
 'Transportation': Int64Index([ 48,  58,  67,  68,  80, 129, 142, 208, 239, 270, 353, 390, 395,
             405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713,
             740, 800, 814, 858, 884, 930, 933, 945, 972, 974],
            dtype='int64', name='Rank'),
 'Wholesalers': Int64Index([ 57,  64,  92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285,
             315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477,
             484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875,
             991],
            dtype='int64', name='Rank')}

In [14]:
#Argument will be the name of group that we would like to extract.
#It will return all the rows of group energy
sector.get_group('Energy')
sector.get_group("Technology")

,Company,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,
3,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
18,Amazon.com,Internet Services and Retailing,"Seattle, WA",107006,596,230800
20,HP,"Computers, Office Equipment","Palo Alto, CA",103355,4554,287000
25,Microsoft,Computer Software,"Redmond, WA",93580,12193,118000
31,IBM,Information Technology Services,"Armonk, NY",82461,13190,411798
...,...,...,...,...,...,...
970,Rackspace Hosting,Internet Services and Retailing,"San Antonio, TX",2001,126,6189
971,VeriFone Systems,"Computers, Office Equipment","San Jose, CA",2001,79,5400
975,Super Micro Computer,"Computers, Office Equipment","San Jose, CA",1991,102,2285
984,Nuance Communications,Computer Software,"Burlington, MA",1931,-115,13500
990,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178

In [ ]:
"""#imagine doing this manually one by one.
We wanted to create 21 seprate dataframe for each one of our separate
sector values
"""

In [16]:
#will return the bool series
data['Sector']=='Energy'
#get the data for all energy Sector.Then repease the same process for all
#21 values
data[data['Sector']=='Energy']

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
32,Valero Energy,Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
42,Marathon Petroleum,Energy,Petroleum Refining,"Findlay, OH",64566,2852,45440
...,...,...,...,...,...,...,...
981,WPX Energy,Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809
995,EP Energy,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646

In [23]:
#some additonal methods that we can call on our groupby object

"""
What max will do: In pour orignal dataframe it will look at the left most 
column which is company and its going to extract the max value.
Now the company is a str column so it will extract the row from each grouo 
that has highist alphabateical ranking

"""
sector.max()
sector.min()
sector.sum() #will work on only int and foat
sector.get_group('Energy')['Revenue'].sum() #same as sum
sector.mean()

                                   Revenue      Profits     Employees
Sector
Aerospace & Defense           17897.000000  1437.100000  48402.850000
Apparel                        6397.866667   549.066667  23093.133333
Business Services              5337.156863   553.470588  26687.254902
Chemicals                      8129.900000   754.266667  15455.033333
Energy                        12441.057377  -602.024590   9745.303279
Engineering & Construction     5922.423077   204.000000  15642.615385
Financials                    15950.784173  1872.007194  24172.287770
Food and Drug Stores          32251.266667  1117.266667  93026.533333
Food, Beverages & Tobacco     12929.465116  1195.744186  28177.488372
Health Care                   21529.426667  1414.853333  35710.520000
Hotels, Resturants & Leisure   6781.840000   827.880000  99369.800000
Household Products             8383.464286   515.285714  23072.785714
Industrials                   10816.978261   451.391304  33591.934783
Materials                      6026.627907   102.976744  14840.069767
Media                          8830.560000   973.880000  22012.560000
Motor Vehicles & Parts        20105.833333  1079.083333  45106.666667
Retailing                     18313.450000   597.875000  77845.362500
Technology                    13505.882353  1769.343137  35087.735294
Telecommunications            30788.933333  3242.466667  55497.866667
Transportation                11347.444444  1226.916667  42688.694444
Wholesalers                   11120.000000   205.825000  13139.925000

In [34]:
#just focus on particular coulmn
sector["Profits"].sum()
#total number of emplyee by sector
sector["Employees"].sum()
sector["Profits"].max() #best performing
sector['Profits'].min() #wrost performing
sector["Employees"].mean()
#more than one column
sector[["Employees","Revenue"]].sum()

                              Employees  Revenue
Sector
Aerospace & Defense              968057   357940
Apparel                          346397    95968
Business Services               1361050   272195
Chemicals                        463651   243897
Energy                          1188927  1517809
Engineering & Construction       406708   153983
Financials                      3359948  2217159
Food and Drug Stores            1395398   483769
Food, Beverages & Tobacco       1211632   555967
Health Care                     2678289  1614707
Hotels, Resturants & Leisure    2484245   169546
Household Products               646038   234737
Industrials                     1545229   497581
Materials                        638123   259145
Media                            550314   220764
Motor Vehicles & Parts          1082560   482540
Retailing                       6227629  1465076
Technology                      3578949  1377600
Telecommunications               832468   461834
Transportation                  1536793   408508
Wholesalers                      525597   444800

In [35]:
#Grouping By Multiple Columns
data = pd.read_csv("datasets/fortune1000.csv",index_col='Rank')
data

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [38]:
#i want to create a group by object on Sector column as well as Industry column
gp = data.groupby(['Sector','Industry'])

In [46]:
#now its a multiindex Series
gp.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense               20
Apparel              Apparel                             15
Business Services    Advertising, marketing               2
                     Diversified Outsourcing Services    14
                     Education                            3
                     Financial Data Services             19
                     Miscellaneous                        3
                     Temporary Help                       5
                     Waste Management                     5
Chemicals            Chemicals                           30
Energy               Energy                              14
                     Mining, Crude-Oil Production        28
                     Miscellaneous                        1
                     Oil and Gas Equipment, Services      9
                     Petroleum Refining                  17
dtype: int64

In [47]:
sector.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [56]:
#multiindex dataframe.More out spread for sector and Industry 
gp.count()
gp.sum()
gp["Revenue"].sum()
gp['Employees'].sum()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            968057
Apparel              Apparel                                          346397
Business Services    Advertising, marketing                           124100
                     Diversified Outsourcing Services                 708330
                     Education                                         46755
                                                                       ...
Transportation       Trucking, Truck Leasing                          170456
Wholesalers          Miscellaneous                                      9200
                     Wholesalers: Diversified                         233831
                     Wholesalers: Electronics and Office Equipment    166661
                     Wholesalers: Food and Grocery                    115905
Name: Employees, Length: 79, dtype: int64

In [58]:
# .agg() which allows Aggreation method on the column within our dataframe.
sector.mean()#return mean
sector["Employees"].mean()

Sector
Aerospace & Defense             48402.850000
Apparel                         23093.133333
Business Services               26687.254902
Chemicals                       15455.033333
Energy                           9745.303279
Engineering & Construction      15642.615385
Financials                      24172.287770
Food and Drug Stores            93026.533333
Food, Beverages & Tobacco       28177.488372
Health Care                     35710.520000
Hotels, Resturants & Leisure    99369.800000
Household Products              23072.785714
Industrials                     33591.934783
Materials                       14840.069767
Media                           22012.560000
Motor Vehicles & Parts          45106.666667
Retailing                       77845.362500
Technology                      35087.735294
Telecommunications              55497.866667
Transportation                  42688.694444
Wholesalers                     13139.925000
Name: Employees, dtype: float64

In [61]:
#in agg method we can specfy the column and what operation we wnt to perform
#agg method we can pass argument as dict in which key will be column name and value will be the operations
sector.agg({'Revenue':'sum','Employees':'mean'})

                              Revenue     Employees
Sector
Aerospace & Defense            357940  48402.850000
Apparel                         95968  23093.133333
Business Services              272195  26687.254902
Chemicals                      243897  15455.033333
Energy                        1517809   9745.303279
Engineering & Construction     153983  15642.615385
Financials                    2217159  24172.287770
Food and Drug Stores           483769  93026.533333
Food, Beverages & Tobacco      555967  28177.488372
Health Care                   1614707  35710.520000
Hotels, Resturants & Leisure   169546  99369.800000
Household Products             234737  23072.785714
Industrials                    497581  33591.934783
Materials                      259145  14840.069767
Media                          220764  22012.560000
Motor Vehicles & Parts         482540  45106.666667
Retailing                     1465076  77845.362500
Technology                    1377600  35087.735294
Telecommunications             461834  55497.866667
Transportation                 408508  42688.694444
Wholesalers                    444800  13139.925000

In [62]:
#all these operation is going to be performed
sector.agg(['sum','size','mean'])

                              Revenue                    Profits       \
                                  sum size          mean     sum size
Sector
Aerospace & Defense            357940   20  17897.000000   28742   20
Apparel                         95968   15   6397.866667    8236   15
Business Services              272195   51   5337.156863   28227   51
Chemicals                      243897   30   8129.900000   22628   30
Energy                        1517809  122  12441.057377  -73447  122
Engineering & Construction     153983   26   5922.423077    5304   26
Financials                    2217159  139  15950.784173  260209  139
Food and Drug Stores           483769   15  32251.266667   16759   15
Food, Beverages & Tobacco      555967   43  12929.465116   51417   43
Health Care                   1614707   75  21529.426667  106114   75
Hotels, Resturants & Leisure   169546   25   6781.840000   20697   25
Household Products             234737   28   8383.464286   14428   28
Industrials                    497581   46  10816.978261   20764   46
Materials                      259145   43   6026.627907    4428   43
Media                          220764   25   8830.560000   24347   25
Motor Vehicles & Parts         482540   24  20105.833333   25898   24
Retailing                     1465076   80  18313.450000   47830   80
Technology                    1377600  102  13505.882353  180473  102
Telecommunications             461834   15  30788.933333   48637   15
Transportation                 408508   36  11347.444444   44169   36
Wholesalers                    444800   40  11120.000000    8233   40

                                          Employees
                                     mean       sum size          mean
Sector
Aerospace & Defense           1437.100000    968057   20  48402.850000
Apparel                        549.066667    346397   15  23093.133333
Business Services              553.470588   1361050   51  26687.254902
Chemicals                      754.266667    463651   30  15455.033333
Energy                        -602.024590   1188927  122   9745.303279
Engineering & Construction     204.000000    406708   26  15642.615385
Financials                    1872.007194   3359948  139  24172.287770
Food and Drug Stores          1117.266667   1395398   15  93026.533333
Food, Beverages & Tobacco     1195.744186   1211632   43  28177.488372
Health Care                   1414.853333   2678289   75  35710.520000
Hotels, Resturants & Leisure   827.880000   2484245   25  99369.800000
Household Products             515.285714    646038   28  23072.785714
Industrials                    451.391304   1545229   46  33591.934783
Materials                      102.976744    638123   43  14840.069767
Media                          973.880000    550314   25  22012.560000
Motor Vehicles & Parts        1079.083333   1082560   24  45106.666667
Retailing                      597.875000   6227629   80  77845.362500
Technology                    1769.343137   3578949  102  35087.735294
Telecommunications            3242.466667    832468   15  55497.866667
Transportation                1226.916667   1536793   36  42688.694444
Wholesalers                    205.825000    525597   40  13139.925000

In [63]:
#another example
sector.agg({'Revenue':'sum','Employees':['mean','sum']})

                              Revenue     Employees
                                  sum          mean      sum
Sector
Aerospace & Defense            357940  48402.850000   968057
Apparel                         95968  23093.133333   346397
Business Services              272195  26687.254902  1361050
Chemicals                      243897  15455.033333   463651
Energy                        1517809   9745.303279  1188927
Engineering & Construction     153983  15642.615385   406708
Financials                    2217159  24172.287770  3359948
Food and Drug Stores           483769  93026.533333  1395398
Food, Beverages & Tobacco      555967  28177.488372  1211632
Health Care                   1614707  35710.520000  2678289
Hotels, Resturants & Leisure   169546  99369.800000  2484245
Household Products             234737  23072.785714   646038
Industrials                    497581  33591.934783  1545229
Materials                      259145  14840.069767   638123
Media                          220764  22012.560000   550314
Motor Vehicles & Parts         482540  45106.666667  1082560
Retailing                     1465076  77845.362500  6227629
Technology                    1377600  35087.735294  3578949
Telecommunications             461834  55497.866667   832468
Transportation                 408508  42688.694444  1536793
Wholesalers                    444800  13139.925000   525597

In [ ]:
#iterating Througs Groups

In [65]:
#extract the company with most highest profit
#it just return a series it dosent give the entire row.
sector['Profits'].max()

Sector
Aerospace & Defense              7608
Apparel                          3273
Business Services                6328
Chemicals                        7685
Energy                          16150
Engineering & Construction        803
Financials                      24442
Food and Drug Stores             5237
Food, Beverages & Tobacco        7351
Health Care                     18108
Hotels, Resturants & Leisure     5920
Household Products               7036
Industrials                      4833
Materials                         991
Media                            8382
Motor Vehicles & Parts           9687
Retailing                       14694
Technology                      53394
Telecommunications              17879
Transportation                   7610
Wholesalers                      1472
Name: Profits, dtype: int64

In [ ]:
"""
IN some of the cases or operations if i want to solve problem where i have o
iterate over every single grouping or sector extract the company row with the
highest revenue and then place that row in a dataframe.

"""

In [80]:
#create a empty dataframe to store the value
df = pd.DataFrame(columns=data.columns)
df #empty dataframe in which we have append
#next step to looping through all of our groups and geeting the company with the highest revenue

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [88]:
for i,j in sector:
    highest_revenue_company = j.nlargest(1,'Revenue')
    df.append(highest_revenue_company)

In [89]:
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [91]:
#now i want to get the highest revenue on city based
city = data.groupby('Location')
city

In [93]:
city.size()

Location
Abbott Park, IL    1
Akron, OH          2
Allentown, PA      3
Angleton, TX       1
Ankeny, IA         1
                  ..
Woonsocket, RI     1
Worcester, MA      1
Wyomissing, PA     2
York, PA           2
Zeeland, MI        1
Length: 416, dtype: int64

In [96]:
for i,j in city:
    r = j.nlargest(1,'Revenue')
    print(r)
    df.append(r)

                  Company       Sector                        Industry  \
Rank
138   Abbott Laboratories  Health Care  Medical Products and Equipment

             Location  Revenue  Profits  Employees
Rank
138   Abbott Park, IL    20661     4423      74000
                     Company                  Sector  \
Rank
169   Goodyear Tire & Rubber  Motor Vehicles & Parts

                      Industry   Location  Revenue  Profits  Employees
Rank
169   Motor Vehicles and Parts  Akron, OH    16443      307      66000
                       Company     Sector   Industry       Location  Revenue  \
Rank
288   Air Products & Chemicals  Chemicals  Chemicals  Allentown, PA     9895

      Profits  Employees
Rank
288      1278      19550
                    Company      Sector  \
Rank
830   Benchmark Electronics  Technology

                                            Industry      Location  Revenue  \
Rank
830   Semiconductors and Other Electronic Components  Angleton, TX     2541

      Profits  Employees
Rank
830        95      10500
                     Company     Sector                    Industry  \
Rank
374   Casey’s General Stores  Retailing  Specialty Retailers: Other

        Location  Revenue  Profits  Employees
Rank
374   Ankeny, IA     7052      181      22408
             Company                        Sector       Industry  \
Rank
915   Domino’s Pizza  Hotels, Resturants & Leisure  Food Services

           Location  Revenue  Profits  Employees
Rank
915   Ann Arbor, MI     2217      193      11900
     Company       Sector              Industry                Location  \
Rank
596   Colfax  Industrials  Industrial Machinery  Annapolis Junction, MD

      Revenue  Profits  Employees
Rank
596      3967      168      17087
           Company                     Sector                Industry  \
Rank
215   Land O’Lakes  Food, Beverages & Tobacco  Food Consumer Products

             Location  Revenue  Profits  Employees
Rank
215   Arden Hills, MN    13161      308      10000
     Company  Sector                     Industry       Location  Revenue  \
Rank
190      AES  Energy  Utilities: Gas and Electric  Arlington, VA    14963

      Profits  Employees
Rank
190       306      21000
     Company      Sector                         Industry    Location  \
Rank
31       IBM  Technology  Information Technology Services  Armonk, NY

      Revenue  Profits  Employees
Rank
31      82461    13190     411798
         Company     Sector                    Industry     Location  Revenue  \
Rank
28    Home Depot  Retailing  Specialty Retailers: Other  Atlanta, GA    88519

      Profits  Employees
Rank
28       7009     385000
      Company                  Sector                  Industry  \
Rank
310   Autoliv  Motor Vehicles & Parts  Motor Vehicles and Parts

              Location  Revenue  Profits  Employees
Rank
310   Auburn Hills, MI     9170      457      59350
           Company                     Sector                Industry  \
Rank
304   Hormel Foods  Food, Beverages & Tobacco  Food Consumer Products

        Location  Revenue  Profits  Employees
Rank
304   Austin, MN     9264      686      20700
                 Company                Sector              Industry  \
Rank
181   Whole Foods Market  Food and Drug Stores  Food and Drug Stores

        Location  Revenue  Profits  Employees
Rank
181   Austin, TX    15389      536      76300
      Company     Sector   Industry       Location  Revenue  Profits  \
Rank
668   PolyOne  Chemicals  Chemicals  Avon Lake, OH     3378      145

      Employees
Rank
668        6900
            Company      Sector    Industry       Location  Revenue  Profits  \
Rank
573   T. Rowe Price  Financials  Securities  Baltimore, MD     4201     1223

      Employees
Rank
573        5999
      Company       Sector         Industry         Location  Revenue  \
Rank
420   Baxalta  Health Care  Pharmaceuticals  Bannockburn, IL     6149

      Profits  Employees
Rank
420       956      17000
        Company     Sector   Industry         Location  Revenue  Profits  \
Rank
624   Albemarle  Chemicals  Chemicals  Baton Rouge, LA     3651      335

      Employees
Rank
624        6963
      Company                     Sector                Industry  \
Rank
207   Kellogg  Food, Beverages & Tobacco  Food Consumer Products

              Location  Revenue  Profits  Employees
Rank
207   Battle Creek, MI    13525      614      33577
     Company   Sector Industry       Location  Revenue  Profits  Employees
Rank
91      Nike  Apparel  Apparel  Beaverton, OR    30601     3273      62600
     Company                  Sector                  Industry      Location  \
Rank
147   Paccar  Motor Vehicles & Parts  Motor Vehicles and Parts  Bellevue, WA

      Revenue  Profits  Employees
Rank
147     19115     1604      23000
           Company       Sector                        Industry    Location  \
Rank
645   Regal Beloit  Industrials  Electronics, Electrical Equip.  Beloit, WI

      Revenue  Profits  Employees
Rank
645      3510      143      26200
        Company       Sector                        Industry  \
Rank
134   Whirlpool  Industrials  Electronics, Electrical Equip.

               Location  Revenue  Profits  Employees
Rank
134   Benton Harbor, MI    20891      783      97000
      Company     Sector               Industry         Location  Revenue  \
Rank
1     Walmart  Retailing  General Merchandisers  Bentonville, AR   482130

      Profits  Employees
Rank
1       14694    2300000
     Company      Sector                                       Industry  \
Rank
594   Ametek  Technology  Scientific,Photographic and Control Equipment

        Location  Revenue  Profits  Employees
Rank
594   Berwyn, PA     3974      591      15400
              Company               Sector               Industry  \
Rank
60    Lockheed Martin  Aerospace & Defense  Aerospace and Defense

          Location  Revenue  Profits  Employees
Rank
60    Bethesda, MD    46132     3605     126000
                  Company              Sector            Industry  \
Rank
399   Cablevision Systems  Telecommunications  Telecommunications

          Location  Revenue  Profits  Employees
Rank
399   Bethpage, NY     6510      175      13549
                        Company Sector       Industry           Location  \
Rank
366   Live Nation Entertainment  Media  Entertainment  Beverly Hills, CA

      Revenue  Profits  Employees
Rank
366      7246      -33      12200
                Company      Sector          Industry        Location  \
Rank
453   Regions Financial  Financials  Commercial Banks  Birmingham, AL

      Revenue  Profits  Employees
Rank
453      5674     1062      23916
                  Company  Sector Industry      Location  Revenue  Profits  \
Rank
558   MDU Resources Group  Energy   Energy  Bismarck, ND     4376     -622

      Employees
Rank
558        8689

             Company                Sector              Industry  \
Rank
614   Ingles Markets  Food and Drug Stores  Food and Drug Stores

                Location  Revenue  Profits  Employees
Rank
614   Black Mountain, NC     3779       59      17125
                      Company     Sector                        Industry  \
Rank
143   Penske Automotive Group  Retailing  Automotive Retailing, Services

                  Location  Revenue  Profits  Employees
Rank
143   Bloomfield Hills, MI    19361      326      23000
     Company       Sector                                 Industry  \
Rank
79     Cigna  Health Care  Health Care: Insurance and Managed Care

            Location  Revenue  Profits  Employees
Rank
79    Bloomfield, CT    37876     2094      39300
                        Company      Sector  \
Rank
35    State Farm Insurance Cos.  Financials

                                       Industry         Location  Revenue  \
Rank
35    Insurance: Property and Casualty (Mutual)  Bloomington, IL    75697

      Profits  Employees
Rank
35       6229      70425
     Company       Sector                         Industry         Location  \
Rank
866     Toro  Industrials  Construction and Farm Machinery  Bloomington, MN

      Revenue  Profits  Employees
Rank
866      2391      202       6874
     Company      Sector                         Industry       Location  \
Rank
725   Unisys  Technology  Information Technology Services  Blue Bell, PA

      Revenue  Profits  Employees
Rank
725      3015     -110      23000
           Company     Sector                    Industry        Location  \
Rank
196   Office Depot  Retailing  Specialty Retailers: Other  Boca Raton, FL

      Revenue  Profits  Employees
Rank
196     14485        8      49000
                Company      Sector  \
Rank
173   Micron Technology  Technology

                                            Industry   Location  Revenue  \
Rank
173   Semiconductors and Other Electronic Components  Boise, ID    16192

      Profits  Employees
Rank
173      2899      31800
                               Company     Sector                    Industry  \
Rank
602   Ulta Salon Cosmetics & Fragrance  Retailing  Specialty Retailers: Other

             Location  Revenue  Profits  Employees
Rank
602   Bolingbrook, IL     3924      320      18100
                             Company      Sector  \
Rank
73    Liberty Mutual Insurance Group  Financials

                                      Industry    Location  Revenue  Profits  \
Rank
73    Insurance: Property and Casualty (Stock)  Boston, MA    39450      514

      Employees
Rank
73        50000
                        Company      Sector  \
Rank
936   Selective Insurance Group  Financials

                                      Industry         Location  Revenue  \
Rank
936   Insurance: Property and Casualty (Stock)  Branchville, NJ     2132

      Profits  Employees
Rank
936       166       2200
             Company     Sector                    Industry       Location  \
Rank
415   Tractor Supply  Retailing  Specialty Retailers: Other  Brentwood, TN

      Revenue  Profits  Employees
Rank
415      6227      410      17500
                      Company  Sector                      Industry  \
Rank
743   Alpha Natural Resources  Energy  Mining, Crude-Oil Production

         Location  Revenue  Profits  Employees
Rank
743   Bristol, VA     2965    -5785       6700
     Company             Sector                 Industry        Location  \
Rank
492   Fiserv  Business Services  Financial Data Services  Brookfield, WI

      Revenue  Profits  Employees
Rank
492      5254      712      22000
                     Company              Sector            Industry  \
Rank
333   Level 3 Communications  Telecommunications  Telecommunications

            Location  Revenue  Profits  Employees
Rank
333   Broomfield, CO     8229     3433      12500
             Company      Sector          Industry     Location  Revenue  \
Rank
510   M&T Bank Corp.  Financials  Commercial Banks  Buffalo, NY     4996

      Profits  Employees
Rank
510      1080      16904
     Company Sector       Industry     Location  Revenue  Profits  Employees
Rank
53    Disney  Media  Entertainment  Burbank, CA    52465     8382     185000
              Company       Sector                                  Industry  \
Rank
883   inVentiv Health  Health Care  Health Care: Pharmacy and Other Services

            Location  Revenue  Profits  Employees
Rank
883   Burlington, MA     2321     -152      14000
                          Company       Sector  \
Rank
325   Laboratory Corp. of America  Health Care

                                      Industry        Location  Revenue  \
Rank
325   Health Care: Pharmacy and Other Services  Burlington, NC     8680

      Profits  Employees
Rank
325       437      50000
                Company     Sector                      Industry  \
Rank
500   Burlington Stores  Retailing  Specialty Retailers: Apparel

            Location  Revenue  Profits  Employees
Rank
500   Burlington, NJ     5130      151      37500
          Company       Sector                       Industry  \
Rank
351   SpartanNash  Wholesalers  Wholesalers: Food and Grocery

              Location  Revenue  Profits  Employees
Rank
351   Byron Center, MI     7652       63      11850
                 Company                        Sector       Industry  \
Rank
941   Cheesecake Factory  Hotels, Resturants & Leisure  Food Services

                 Location  Revenue  Profits  Employees
Rank
941   Calabasas Hills, CA     2101      117      37600
            Company             Sector        Industry       Location  \
Rank
951   On Assignment  Business Services  Temporary Help  Calabasas, CA

      Revenue  Profits  Employees
Rank
951      2077       98       3320
                Company              Sector                     Industry  \
Rank
338   Mohawk Industries  Household Products  Home Equipment, Furnishings

         Location  Revenue  Profits  Employees
Rank
338   Calhoun, GA     8072      615      34100
     Company       Sector         Industry       Location  Revenue  Profits  \
Rank
263   Biogen  Health Care  Pharmaceuticals  Cambridge, MA    10764     3547

      Employees
Rank
263        7350
            Company                     Sector                Industry  \
Rank
337   Campbell Soup  Food, Beverages & Tobacco  Food Consumer Products

        Location  Revenue  Profits  Employees
Rank
337   Camden, NJ     8082      691      18600
       Company                Sector              Industry       Location  \
Rank
107   Rite Aid  Food and Drug Stores  Food and Drug Stores  Camp Hill, PA

      Revenue  Profits  Employees
Rank
107     26528     2109      69865
            Company  Sector                      Industry        Location  \
Rank
706   Consol Energy  Energy  Mining, Crude-Oil Production  Canonsburg, PA

      Revenue  Profits  Employees
Rank
706      3114     -375       3114
                  Company      Sector                         Industry  \
Rank
611   CNO Financial Group  Financials  Insurance: Life, Health (stock)

        Location  Revenue  Profits  Employees
Rank
611   Carmel, IN     3812      271       3500
              Company              Sector                     Industry  \
Rank
601   Leggett & Platt  Household Products  Home Equipment, Furnishings

          Location  Revenue  Profits  Employees
Rank
601   Carthage, MO     3937      325      20000

                       Company     Sector                   Industry  \
Rank
625   Resolute Forest Products  Materials  Forest and Paper Products

         Location  Revenue  Profits  Employees
Rank
625   Catawba, SC     3645     -257       8000
     Company  Sector                     Industry   Location  Revenue  \
Rank
556    SCANA  Energy  Utilities: Gas and Electric  Cayce, SC     4380

      Profits  Employees
Rank
556       746       5829
               Company               Sector               Industry  \
Rank
490   Rockwell Collins  Aerospace & Defense  Aerospace and Defense

              Location  Revenue  Profits  Employees
Rank
490   Cedar Rapids, IA     5262      686      19500
                Company       Sector  \
Rank
119   Arrow Electronics  Wholesalers

                                           Industry        Location  Revenue  \
Rank
119   Wholesalers: Electronics and Office Equipment  Centennial, CO    23282

      Profits  Employees
Rank
119       498      18500
                   Company      Sector  \
Rank
931   Microchip Technology  Technology

                                            Industry      Location  Revenue  \
Rank
931   Semiconductors and Other Electronic Components  Chandler, AZ     2147

      Profits  Employees
Rank
931       369       9449
                Company      Sector                         Industry  \
Rank
946   Engility Holdings  Technology  Information Technology Services

           Location  Revenue  Profits  Employees
Rank
946   Chantilly, VA     2086     -235       9800
                    Company      Sector          Industry       Location  \
Rank
26    Bank of America Corp.  Financials  Commercial Banks  Charlotte, NC

      Revenue  Profits  Employees
Rank
26      93056    15888     213280
         Company      Sector                         Industry  \
Rank
265   Unum Group  Financials  Insurance: Life, Health (stock)

             Location  Revenue  Profits  Employees
Rank
265   Chattanooga, TN    10731      867       9400
          Company     Sector                    Industry        Location  \
Rank
180   Dollar Tree  Retailing  Specialty Retailers: Other  Chesapeake, VA

      Revenue  Profits  Employees
Rank
180     15498      282     111550
                Company       Sector                  Industry  \
Rank
12    AmerisourceBergen  Health Care  Wholesalers: Health Care

              Location  Revenue  Profits  Employees
Rank
12    Chesterbrook, PA   135962     -135      17000
                           Company      Sector  \
Rank
271   Reinsurance Group of America  Financials

                             Industry          Location  Revenue  Profits  \
Rank
271   Insurance: Life, Health (stock)  Chesterfield, MO    10418      502

      Employees
Rank
271        2201
     Company               Sector               Industry     Location  \
Rank
24    Boeing  Aerospace & Defense  Aerospace and Defense  Chicago, IL

      Revenue  Profits  Employees
Rank
24      96114     5176     161400
     Company                Sector              Industry        Location  \
Rank
17    Kroger  Food and Drug Stores  Food and Drug Stores  Cincinnati, OH

      Revenue  Profits  Employees
Rank
17     109830     2039     431000
     Company     Sector   Industry     Location  Revenue  Profits  Employees
Rank
761     Olin  Chemicals  Chemicals  Clayton, MO     2854       -1       6200
            Company              Sector       Industry        Location  \
Rank
950   Vista Outdoor  Household Products  Miscellaneous  Clearfield, UT

      Revenue  Profits  Employees
Rank
950      2083       80       5200
        Company       Sector                                       Industry  \
Rank
108   Tech Data  Wholesalers  Wholesalers: Electronics and Office Equipment

            Location  Revenue  Profits  Employees
Rank
108   Clearwater, FL    26380      266       9000
              Company       Sector              Industry       Location  \
Rank
224   Parker-Hannifin  Industrials  Industrial Machinery  Cleveland, OH

      Revenue  Profits  Employees
Rank
224     12712     1012      54750
         Company     Sector   Industry      Location  Revenue  Profits  \
Rank
717   W.R. Grace  Chemicals  Chemicals  Columbia, MD     3052      144

      Employees
Rank
717        6700
     Company      Sector                         Industry      Location  \
Rank
135    Aflac  Financials  Insurance: Life, Health (stock)  Columbus, GA

      Revenue  Profits  Employees
Rank
135     20872     2533       9915
      Company       Sector                         Industry      Location  \
Rank
148   Cummins  Industrials  Construction and Farm Machinery  Columbus, IN

      Revenue  Profits  Employees
Rank
148     19110     1399      55200
         Company      Sector                                   Industry  \
Rank
69    Nationwide  Financials  Insurance: Property and Casualty (Mutual)

          Location  Revenue  Profits  Employees
Rank
69    Columbus, OH    40222      581      34032
                   Company                Sector              Industry  \
Rank
595   Smart & Final Stores  Food and Drug Stores  Food and Drug Stores

          Location  Revenue  Profits  Employees
Rank
595   Commerce, CA     3971       38       6939
                           Company      Sector                Industry  \
Rank
880   Nationstar Mortgage Holdings  Financials  Diversified Financials

         Location  Revenue  Profits  Employees
Rank
880   Coppell, TX     2339       39       6740
     Company                      Sector                   Industry  \
Rank
572   MasTec  Engineering & Construction  Engineering, Construction

              Location  Revenue  Profits  Employees
Rank
572   Coral Gables, FL     4208      -79      15900
                    Company     Sector                    Industry  \
Rank
365   Dick’s Sporting Goods  Retailing  Specialty Retailers: Other

            Location  Revenue  Profits  Employees
Rank
365   Coraopolis, PA     7271      330      25150
      Company      Sector                                    Industry  \
Rank
313   Corning  Technology  Network and Other Communications Equipment

         Location  Revenue  Profits  Employees
Rank
313   Corning, NY     9111     1339      35700
               Company                     Sector   Industry    Location  \
Rank
787   Monster Beverage  Food, Beverages & Tobacco  Beverages  Corona, CA

      Revenue  Profits  Employees
Rank
787      2723      547       1857
                   Company     Sector                    Industry  \
Rank
940   Restoration Hardware  Retailing  Specialty Retailers: Other

              Location  Revenue  Profits  Employees
Rank
940   Corte Madera, CA     2109       91       4200
               Company      Sector  \
Rank
944   TTM Technologies  Technology

                                            Industry        Location  Revenue  \
Rank
944   Semiconductors and Other Electronic Components  Costa Mesa, CA     2096

      Profits  Employees
Rank
944       -26      29570
     Company       Sector                  Industry       Location  Revenue  \
Rank
875     Pool  Wholesalers  Wholesalers: Diversified  Covington, LA     2363

      Profits  Employees
Rank
875       128       3800
         Company     Sector               Industry          Location  Revenue  \
Rank
885   AptarGroup  Materials  Packaging, Containers  Crystal Lake, IL     2317

      Profits  Employees
Rank
885       199      13000
                                Company          Sector  \
Rank
974   Roadrunner Transportation Systems  Transportation

                          Industry    Location  Revenue  Profits  Employees
Rank
974   Transportation and Logistics  Cudahy, WI     1995       48       4502
     Company      Sector                     Industry       Location  Revenue  \
Rank
3      Apple  Technology  Computers, Office Equipment  Cupertino, CA   233715

      Profits  Employees
Rank
3       53394     110000
     Company              Sector            Industry    Location  Revenue  \
Rank
10      AT&T  Telecommunications  Telecommunications  Dallas, TX   146801

      Profits  Employees
Rank
10      13345     281450

      Company     Sector   Industry     Location  Revenue  Profits  Employees
Rank
262   Praxair  Chemicals  Chemicals  Danbury, CT    10776     1547      26657
                Company          Sector   Industry    Location  Revenue  \
Rank
972   Genesee & Wyoming  Transportation  Railroads  Darien, CT     2000

      Profits  Employees
Rank
972       225       7500
       Company      Sector           Industry    Location  Revenue  Profits  \
Rank
834   Teradata  Technology  Computer Software  Dayton, OH     2530     -214

      Employees
Rank
834       11300
         Company                  Sector                  Industry  \
Rank
9     Ford Motor  Motor Vehicles & Parts  Motor Vehicles and Parts

          Location  Revenue  Profits  Employees
Rank
9     Dearborn, MI   149558     7373     199000
                       Company                Sector              Industry  \
Rank
19    Walgreens Boots Alliance  Food and Drug Stores  Food and Drug Stores

           Location  Revenue  Profits  Employees
Rank
19    Deerfield, IL   103444     4220     302500
     Company     Sector               Industry      Location  Revenue  \
Rank
628    Greif  Materials  Packaging, Containers  Delaware, OH     3617

      Profits  Employees
Rank
628        72      13150
                    Company     Sector                    Industry  \
Rank
610   Sally Beauty Holdings  Retailing  Specialty Retailers: Other

        Location  Revenue  Profits  Employees
Rank
610   Denton, TX     3834      235      21033
                         Company       Sector  \
Rank
200   DaVita HealthCare Partners  Health Care

                             Industry    Location  Revenue  Profits  Employees
Rank
200   Health Care: Medical Facilities  Denver, CO    14210      270      60400
                  Company      Sector                         Industry  \
Rank
236   Principal Financial  Financials  Insurance: Life, Health (stock)

            Location  Revenue  Profits  Employees
Rank
236   Des Moines, IA    11964     1234      14895
              Company      Sector    Industry       Location  Revenue  \
Rank
382   Jones Financial  Financials  Securities  Des Peres, MO     6694

      Profits  Employees
Rank
382       838      41000
             Company                  Sector                  Industry  \
Rank
8     General Motors  Motor Vehicles & Parts  Motor Vehicles and Parts

         Location  Revenue  Profits  Employees
Rank
8     Detroit, MI   152356     9687     215000
     Company       Sector       Industry           Location  Revenue  Profits  \
Rank
315   Univar  Wholesalers  Miscellaneous  Downers Grove, IL     8982       17

      Employees
Rank
315        9200
          Company     Sector                      Industry    Location  \
Rank
237   Ross Stores  Retailing  Specialty Retailers: Apparel  Dublin, CA

      Revenue  Profits  Employees
Rank
237     11940     1021      77800
              Company       Sector                  Industry    Location  \
Rank
21    Cardinal Health  Health Care  Wholesalers: Health Care  Dublin, OH

      Revenue  Profits  Employees
Rank
21     102531     1215      34500
          Company               Sector               Industry    Location  \
Rank
560   Orbital ATK  Aerospace & Defense  Aerospace and Defense  Dulles, VA

      Revenue  Profits  Employees
Rank
560      4369      159      12300
     Company       Sector                         Industry    Location  \
Rank
360     AGCO  Industrials  Construction and Farm Machinery  Duluth, GA

      Revenue  Profits  Employees
Rank
360      7467      266      19588
                               Company       Sector  \
Rank
447   Quintiles Transnational Holdings  Health Care

                                      Industry    Location  Revenue  Profits  \
Rank
447   Health Care: Pharmacy and Other Services  Durham, NC     5738      387

      Employees
Rank
447       36100
        Company                Sector              Industry          Location  \
Rank
160   Supervalu  Food and Drug Stores  Food and Drug Stores  Eden Prairie, MN

      Revenue  Profits  Employees
Rank
160     17820      192      38500
         Company     Sector                    Industry       Location  \
Rank
258   Murphy USA  Retailing  Specialty Retailers: Other  El Dorado, AR

      Revenue  Profits  Employees
Rank
258     10885      176       7100
               Company  Sector            Industry     Location  Revenue  \
Rank
289   Western Refining  Energy  Petroleum Refining  El Paso, TX     9787

      Profits  Employees
Rank
289       407       7347
     Company              Sector       Industry        Location  Revenue  \
Rank
450   Mattel  Household Products  Miscellaneous  El Segundo, CA     5703

      Profits  Employees
Rank
450       369      31000
              Company                  Sector                  Industry  \
Rank
591   Thor Industries  Motor Vehicles & Parts  Motor Vehicles and Parts

         Location  Revenue  Profits  Employees
Rank
591   Elkhart, IN     4007      199      10450
     Company               Sector               Industry  Location  Revenue  \
Rank
836     Moog  Aerospace & Defense  Aerospace and Defense  Elma, NY     2526

      Profits  Employees
Rank
836       132      10691
                Company     Sector                    Industry      Location  \
Rank
894   Party City Holdco  Retailing  Specialty Retailers: Other  Elmsford, NY

      Revenue  Profits  Employees
Rank
894      2295       11      12888
           Company              Sector            Industry       Location  \
Rank
187   DISH Network  Telecommunications  Telecommunications  Englewood, CO

      Revenue  Profits  Employees
Rank
187     15069      747      18000
                   Company      Sector  \
Rank
411   Erie Insurance Group  Financials

                                      Industry  Location  Revenue  Profits  \
Rank
411   Insurance: Property and Casualty (Stock)  Erie, PA     6351      175

      Employees
Rank
411        4800
                    Company     Sector                        Industry  \
Rank
269   Hertz Global Holdings  Retailing  Automotive Retailing, Services

        Location  Revenue  Profits  Employees
Rank
269   Estero, FL    10535      273      30000
                   Company     Sector               Industry        Location  \
Rank
518   Berry Plastics Group  Materials  Packaging, Containers  Evansville, IN

      Revenue  Profits  Employees
Rank
518      4881       86      16000
              Company              Sector                         Industry  \
Rank
665   Church & Dwight  Household Products  Household and Personal Products

       Location  Revenue  Profits  Employees
Rank
665   Ewing, NJ     3395      410       4406
               Company       Sector              Industry       Location  \
Rank
11    General Electric  Industrials  Industrial Machinery  Fairfield, CT

      Revenue  Profits  Employees
Rank
11     140389    -6126     333000
                   Company      Sector  \
Rank
499   Cincinnati Financial  Financials

                                      Industry       Location  Revenue  \
Rank
499   Insurance: Property and Casualty (Stock)  Fairfield, OH     5142

      Profits  Employees
Rank
499       634       4493
          Company     Sector   Industry      Location  Revenue  Profits  \
Rank
865   A. Schulman  Chemicals  Chemicals  Fairlawn, OH     2392       27

      Employees
Rank
865        5000
               Company               Sector               Industry  \
Rank
88    General Dynamics  Aerospace & Defense  Aerospace and Defense

              Location  Revenue  Profits  Employees
Rank
88    Falls Church, VA    31469     2965      99900
                  Company               Sector               Industry  \
Rank
45    United Technologies  Aerospace & Defense  Aerospace and Defense

            Location  Revenue  Profits  Employees
Rank
45    Farmington, CT    61047     7608     197200
           Company     Sector                   Industry         Location  \
Rank
373   Weyerhaeuser  Materials  Forest and Paper Products  Federal Way, WA

      Revenue  Profits  Employees
Rank

373      7082      506      12600
                 Company  Sector            Industry     Location  Revenue  \
Rank
42    Marathon Petroleum  Energy  Petroleum Refining  Findlay, OH    64566

      Profits  Employees
Rank
42       2852      45440
                Company                Sector              Industry  \
Rank
669   Diplomat Pharmacy  Food and Drug Stores  Food and Drug Stores

       Location  Revenue  Profits  Employees
Rank
669   Flint, MI     3367       26       1616
     Company       Sector         Industry          Location  Revenue  \
Rank
527   Zoetis  Health Care  Pharmaceuticals  Florham Park, NJ     4765

      Profits  Employees
Rank
527       339       9000
       Company               Sector               Industry          Location  \
Rank
958   Woodward  Aerospace & Defense  Aerospace and Defense  Fort Collins, CO

      Revenue  Profits  Employees
Rank
958      2038      182       6955
         Company     Sector                        Industry  \
Rank
136   AutoNation  Retailing  Automotive Retailing, Services

                 Location  Revenue  Profits  Employees
Rank
136   Fort Lauderdale, FL    20862      443      26000
     Company     Sector                   Industry       Location  Revenue  \
Rank
489   Domtar  Materials  Forest and Paper Products  Fort Mill, SC     5264

      Profits  Employees
Rank
489       142       9850
          Company     Sector                      Industry        Location  \
Rank
807   Chico’s FAS  Retailing  Specialty Retailers: Apparel  Fort Myers, FL

      Revenue  Profits  Employees
Rank
807      2642        2      14755
      Company          Sector                 Industry        Location  \
Rank
800   ArcBest  Transportation  Trucking, Truck Leasing  Fort Smith, AR

      Revenue  Profits  Employees
Rank
800      2667       45      13000
             Company     Sector Industry        Location  Revenue  Profits  \
Rank
356   Steel Dynamics  Materials   Metals  Fort Wayne, IN     7594     -130

      Employees
Rank
356        7500
                      Company          Sector  Industry        Location  \
Rank
67    American Airlines Group  Transportation  Airlines  Fort Worth, TX

      Revenue  Profits  Employees
Rank
67      40990     7610     118500
              Company       Sector         Industry         Location  Revenue  \
Rank
86    Gilead Sciences  Health Care  Pharmaceuticals  Foster City, CA    32639

      Profits  Employees
Rank
86      18108       8000
     Company     Sector                      Industry        Location  \
Rank
89       TJX  Retailing  Specialty Retailers: Apparel  Framingham, MA

      Revenue  Profits  Employees
Rank
89      30945     2278     216000
               Company       Sector                        Industry  \
Rank
278   Becton Dickinson  Health Care  Medical Products and Equipment

                Location  Revenue  Profits  Employees
Rank
278   Franklin Lakes, NJ    10282      695      49517
                       Company       Sector                         Industry  \
Rank
125   Community Health Systems  Health Care  Health Care: Medical Facilities

          Location  Revenue  Profits  Employees
Rank
125   Franklin, TN    22678      158     123000
     Company       Sector                                       Industry  \
Rank
212   Synnex  Wholesalers  Wholesalers: Electronics and Office Equipment

         Location  Revenue  Profits  Employees
Rank
212   Fremont, CA    13338      209      78500
                          Company      Sector  \
Rank
723   American National Insurance  Financials

                             Industry       Location  Revenue  Profits  \
Rank
723   Insurance: Life, Health (stock)  Galveston, TX     3018      243

      Employees
Rank
723        4736
     Company      Sector                                  Industry  \
Rank
476   Markel  Financials  Insurance: Property and Casualty (Stock)

            Location  Revenue  Profits  Employees
Rank
476   Glen Allen, VA     5370      583      10600
             Company     Sector               Industry      Location  Revenue  \
Rank
435   Avery Dennison  Materials  Packaging, Containers  Glendale, CA     5967

      Profits  Employees
Rank
435       274      25000
                  Company       Sector              Industry      Location  \
Rank
211   Illinois Tool Works  Industrials  Industrial Machinery  Glenview, IL

      Revenue  Profits  Employees
Rank
211     13405     1899      48000
             Company     Sector               Industry            Location  \
Rank
139   Dollar General  Retailing  General Merchandisers  Goodlettsville, TN

      Revenue  Profits  Employees
Rank
139     20369     1165     113400
        Company              Sector                     Industry  \
Rank
716   Steelcase  Household Products  Home Equipment, Furnishings

              Location  Revenue  Profits  Employees
Rank
716   Grand Rapids, MI     3060       86      11550
       Company     Sector                    Industry       Location  Revenue  \
Rank
302   GameStop  Retailing  Specialty Retailers: Other  Grapevine, TX     9364

      Profits  Employees
Rank
302       403      40600
     Company   Sector Industry        Location  Revenue  Profits  Employees
Rank
231       VF  Apparel  Apparel  Greensboro, NC    12377     1232      64000
         Company       Sector                                       Industry  \
Rank
685   ScanSource  Wholesalers  Wholesalers: Electronics and Office Equipment

            Location  Revenue  Profits  Employees
Rank
685   Greenville, SC     3219       65       2000
            Company          Sector                      Industry  \
Rank
353   XPO Logistics  Transportation  Transportation and Logistics

           Location  Revenue  Profits  Employees
Rank
353   Greenwich, CT     7623     -191      89000

             Company  Sector                      Industry  \
Rank
349   Newmont Mining  Energy  Mining, Crude-Oil Production

                   Location  Revenue  Profits  Employees
Rank
349   Greenwood Village, CO     7729      220      15601
     Company      Sector                                    Industry  \
Rank
854    Ciena  Technology  Network and Other Communications Equipment

         Location  Revenue  Profits  Employees
Rank
854   Hanover, MD     2446       12       5345
     Company       Sector                                 Industry  \
Rank
46     Aetna  Health Care  Health Care: Insurance and Managed Care

          Location  Revenue  Profits  Employees
Rank
46    Hartford, CT    60337     2390      50100
              Company     Sector               Industry        Location  \
Rank
514   Sonoco Products  Materials  Packaging, Containers  Hartsville, SC

      Revenue  Profits  Employees
Rank
514      4964      250      21000
      Company      Sector          Industry      Location  Revenue  Profits  \
Rank
938   Popular  Financials  Commercial Banks  Hato Rey, PR     2123      895

      Employees
Rank
938        7810
                   Company       Sector                        Industry  \
Rank
965   Bio-Rad Laboratories  Health Care  Medical Products and Equipment

          Location  Revenue  Profits  Employees
Rank
965   Hercules, CA     2019      113       7770
                    Company       Sector                  Industry  \
Rank
837   Beacon Roofing Supply  Wholesalers  Wholesalers: Diversified

         Location  Revenue  Profits  Employees
Rank
837   Herndon, VA     2515       62       3366
      Company                     Sector                Industry     Location  \
Rank
362   Hershey  Food, Beverages & Tobacco  Food Consumer Products  Hershey, PA

      Revenue  Profits  Employees
Rank
362      7387      513      19885
                Company      Sector  \
Rank
612   CommScope Holding  Technology

                                        Industry     Location  Revenue  \
Rank
612   Network and Other Communications Equipment  Hickory, NC     3808

      Profits  Employees
Rank
612       -71      23000
            Company       Sector                        Industry  \
Rank
544   General Cable  Industrials  Electronics, Electrical Equip.

                  Location  Revenue  Profits  Employees
Rank
544   Highland Heights, KY     4515     -122      12000
             Company     Sector               Industry             Location  \
Rank
111   Sears Holdings  Retailing  General Merchandisers  Hoffman Estates, IL

      Revenue  Profits  Employees
Rank
111     25146    -1129     178000
                           Company  Sector                     Industry  \
Rank
817   Hawaiian Electric Industries  Energy  Utilities: Gas and Electric

          Location  Revenue  Profits  Employees
Rank
817   Honolulu, HI     2603      160       3918
     Company      Sector              Industry       Location  Revenue  \
Rank
113      EMC  Technology  Computer Peripherals  Hopkinton, MA    24704

      Profits  Employees
Rank
113      1990      72000
            Company                      Sector      Industry     Location  \
Rank
576   Toll Brothers  Engineering & Construction  Homebuilders  Horsham, PA

      Revenue  Profits  Employees
Rank
576      4171      363       3900
          Company  Sector            Industry     Location  Revenue  Profits  \
Rank
30    Phillips 66  Energy  Petroleum Refining  Houston, TX    87169     4227

      Employees
Rank
30        14000
                       Company Sector       Industry         Location  \
Rank
913   Sinclair Broadcast Group  Media  Entertainment  Hunt Valley, MD

      Revenue  Profits  Employees
Rank
913      2219      172       8000
                            Company                  Sector  \
Rank
979   Allison Transmission Holdings  Motor Vehicles & Parts

                      Industry          Location  Revenue  Profits  Employees
Rank
979   Motor Vehicles and Parts  Indianaoplis, IN     1986      182       2700
     Company       Sector                                 Industry  \
Rank
33    Anthem  Health Care  Health Care: Insurance and Managed Care

              Location  Revenue  Profits  Employees
Rank
33    Indianapolis, IN    79157     2560      53000
     Company                     Sector         Industry  \
Rank
84       CHS  Food, Beverages & Tobacco  Food Production

                     Location  Revenue  Profits  Employees
Rank
84    Inver Grove Heights, MN    34582      781      12511
           Company       Sector  \
Rank
64    Ingram Micro  Wholesalers

                                           Industry    Location  Revenue  \
Rank
64    Wholesalers: Electronics and Office Equipment  Irvine, CA    43026

      Profits  Employees
Rank
64        215      27700
          Company  Sector            Industry    Location  Revenue  Profits  \
Rank
2     Exxon Mobil  Energy  Petroleum Refining  Irving, TX   246204    16150

      Employees
Rank
2         75600
     Company     Sector                    Industry      Location  Revenue  \
Rank
15    Costco  Retailing  Specialty Retailers: Other  Issaquah, WA   116199

      Profits  Employees
Rank
15       2377     161000
                  Company      Sector                Industry    Location  \
Rank
471   Arthur J. Gallagher  Financials  Diversified Financials  Itasca, IL

      Revenue  Profits  Employees
Rank
471      5392      357      21537
         Company  Sector                     Industry     Location  Revenue  \
Rank
403   CMS Energy  Energy  Utilities: Gas and Electric  Jackson, MI     6456

      Profits  Employees
Rank
403       523       7758
     Company          Sector   Industry          Location  Revenue  Profits  \
Rank
239      CSX  Transportation  Railroads  Jacksonville, FL    11811     1968

      Employees
Rank
239       29761
               Company             Sector                 Industry  \
Rank
952   Verisk Analytics  Business Services  Financial Data Services

             Location  Revenue  Profits  Employees
Rank
952   Jersey City, NJ     2068      508       7783

        Company      Sector                                  Industry  \
Rank
561   FM Global  Financials  Insurance: Property and Casualty (Stock)

          Location  Revenue  Profits  Employees
Rank
561   Johnston, RI     4343      738       5483
             Company  Sector                     Industry        Location  \
Rank
163   NextEra Energy  Energy  Utilities: Gas and Electric  Juno Beach, FL

      Revenue  Profits  Employees
Rank
163     17486     2752      14300
      Company       Sector                        Industry       Location  \
Rank
287   Stryker  Health Care  Medical Products and Equipment  Kalamazoo, MI

      Revenue  Profits  Employees
Rank
287      9946     1439      27000
        Company      Sector                Industry         Location  Revenue  \
Rank
712   H&R Block  Financials  Diversified Financials  Kansas City, MO     3079

      Profits  Employees
Rank
712       474      50400
     Company       Sector         Industry        Location  Revenue  Profits  \
Rank
72     Merck  Health Care  Pharmaceuticals  Kenilworth, NJ    39498     4442

      Employees
Rank
72        68000
                 Company       Sector                         Industry  \
Rank
457   Genesis Healthcare  Health Care  Health Care: Medical Facilities

                Location  Revenue  Profits  Employees
Rank
457   Kennett Square, PA     5619     -426      88700
      Company       Sector              Industry     Location  Revenue  \
Rank
630   Snap-on  Industrials  Industrial Machinery  Kenosha, WI     3593

      Profits  Employees
Rank
630       479      11500
                        Company       Sector                         Industry  \
Rank
290   Universal Health Services  Health Care  Health Care: Medical Facilities

                 Location  Revenue  Profits  Employees
Rank
290   King of Prussia, PA     9785      681      64500
               Company     Sector   Industry       Location  Revenue  Profits  \
Rank
296   Eastman Chemical  Chemicals  Chemicals  Kingsport, TN     9648      848

      Employees
Rank
296       15000
        Company             Sector                          Industry  \
Rank
816   Insperity  Business Services  Diversified Outsourcing Services

          Location  Revenue  Profits  Employees
Rank
816   Kingwood, TX     2604       39       2400
                   Company       Sector  \
Rank
629   Team Health Holdings  Health Care

                                      Industry       Location  Revenue  \
Rank
629   Health Care: Pharmacy and Other Services  Knoxville, TN     3597

      Profits  Employees
Rank
629        83      18800
              Company                  Sector                  Industry  \
Rank
961   Wabash National  Motor Vehicles & Parts  Motor Vehicles and Parts

           Location  Revenue  Profits  Employees
Rank
961   Lafayette, IN     2028      104       5300
            Company       Sector                  Industry         Location  \
Rank
285   W.W. Grainger  Wholesalers  Wholesalers: Diversified  Lake Forest, IL

      Revenue  Profits  Employees
Rank
285      9973      769      25100
              Company          Sector                  Industry  \
Rank
814   Greenbrier Cos.  Transportation  Transportation Equipment

             Location  Revenue  Profits  Employees
Rank
814   Lake Oswego, OR     2605      193      10689
                             Company             Sector  \
Rank
792   Broadridge Financial Solutions  Business Services

                     Industry          Location  Revenue  Profits  Employees
Rank
792   Financial Data Services  Lake Success, NY     2694      287       7400
                   Company                Sector              Industry  \
Rank
87    Publix Super Markets  Food and Drug Stores  Food and Drug Stores

          Location  Revenue  Profits  Employees
Rank
87    Lakeland, FL    32619     1965     180000
                         Company     Sector                   Industry  \
Rank
857   Armstrong World Industries  Materials  Building Materials, Glass

           Location  Revenue  Profits  Employees
Rank
857   Lancaster, PA     2420       94       7600
                    Company      Sector  \
Rank
398   Auto-Owners Insurance  Financials

                                       Industry     Location  Revenue  \
Rank
398   Insurance: Property and Casualty (Mutual)  Lansing, MI     6517

      Profits  Employees
Rank
398       815       4483
              Company                        Sector                  Industry  \
Rank
241   Las Vegas Sands  Hotels, Resturants & Leisure  Hotels, Casinos, Resorts

           Location  Revenue  Profits  Employees
Rank
241   Las Vegas, NV    11689     1966      46500
              Company                     Sector         Industry    Location  \
Rank
770   Sanderson Farms  Food, Beverages & Tobacco  Food Production  Laurel, MS

      Revenue  Profits  Employees
Rank
770      2804      216      12264
                               Company                        Sector  \
Rank
763   Cracker Barrel Old Country Store  Hotels, Resturants & Leisure

           Industry     Location  Revenue  Profits  Employees
Rank
763   Food Services  Lebanon, TN     2842      164      72000
                    Company      Sector              Industry       Location  \
Rank
638   Lexmark International  Technology  Computer Peripherals  Lexington, KY

      Revenue  Profits  Employees
Rank
638      3551      -40      14000
                     Company      Sector  \
Rank
910   Amica Mutual Insurance  Financials

                                       Industry     Location  Revenue  \
Rank
910   Insurance: Property and Casualty (Mutual)  Lincoln, RI     2231

      Profits  Employees
Rank
910        63       3512
     Company      Sector                         Industry          Location  \
Rank
220      CDW  Technology  Information Technology Services  Lincolnshire, IL

      Revenue  Profits  Employees
Rank
220     12989      403       8465
                     Company                  Sector  \
Rank
281   Navistar International  Motor Vehicles & Parts

                      Industry   Location  Revenue  Profits  Employees
Rank
281   Motor Vehicles and Parts  Lisle, IL    10140     -184      13800

        Company     Sector               Industry         Location  Revenue  \
Rank
380   Dillard’s  Retailing  General Merchandisers  Little Rock, AR     6755

      Profits  Employees
Rank
380       269      30600
                  Company                  Sector                  Industry  \
Rank
957   Tower International  Motor Vehicles & Parts  Motor Vehicles and Parts

         Location  Revenue  Profits  Employees
Rank
957   Livonia, MI     2042      194       8300
                Company       Sector                                 Industry  \
Rank
201   Molina Healthcare  Health Care  Health Care: Insurance and Managed Care

            Location  Revenue  Profits  Employees
Rank
201   Long Beach, CA    14178      143      21000
              Company          Sector  Industry              Location  \
Rank
405   JetBlue Airways  Transportation  Airlines  Long Island City, NY

      Revenue  Profits  Employees
Rank
405      6416      677      14537
     Company                      Sector                   Industry  \
Rank
156    AECOM  Engineering & Construction  Engineering, Construction

             Location  Revenue  Profits  Employees
Rank
156   Los Angeles, CA    17990     -155      92000
      Company     Sector                    Industry       Location  Revenue  \
Rank
379   Netflix  Retailing  Specialty Retailers: Other  Los Gatos, CA     6780

      Profits  Employees
Rank
379       123       3700
     Company       Sector                                 Industry  \
Rank
52    Humana  Health Care  Health Care: Insurance and Managed Care

            Location  Revenue  Profits  Employees
Rank
52    Louisville, KY    54289     1276      50100
                           Company          Sector                 Industry  \
Rank
416   J.B. Hunt Transport Services  Transportation  Trucking, Truck Leasing

        Location  Revenue  Profits  Employees
Rank
416   Lowell, AR     6188      427      21562
                Company       Sector  \
Rank
358   Quest Diagnostics  Health Care

                                      Industry     Location  Revenue  Profits  \
Rank
358   Health Care: Pharmacy and Other Services  Madison, NJ     7493      709

      Employees
Rank
358       44000
                              Company      Sector  \
Rank
332   American Family Insurance Group  Financials

                                      Industry     Location  Revenue  Profits  \
Rank
332   Insurance: Property and Casualty (Stock)  Madison, WI     8286      694

      Employees
Rank
332        9843
                  Company     Sector                      Industry  \
Rank
523   Ascena Retail Group  Retailing  Specialty Retailers: Apparel

        Location  Revenue  Profits  Employees
Rank
523   Mahwah, NJ     4803     -237      31000
                     Company      Sector  \
Rank
891   Vishay Intertechnology  Technology

                                            Industry     Location  Revenue  \
Rank
891   Semiconductors and Other Electronic Components  Malvern, PA     2301

      Profits  Employees
Rank
891      -109      22400
              Company   Sector Industry             Location  Revenue  \
Rank
695   Skechers U.S.A.  Apparel  Apparel  Manhattan Beach, CA     3159

      Profits  Employees
Rank
695       232       6400
        Company       Sector                         Industry       Location  \
Rank
658   Manitowoc  Industrials  Construction and Farm Machinery  Manitowoc, WI

      Revenue  Profits  Employees
Rank
658      3436       64      11430
                Company       Sector                        Industry  \
Rank
359   Boston Scientific  Health Care  Medical Products and Equipment

             Location  Revenue  Profits  Employees
Rank
359   Marlborough, MA     7477     -239      25000
                 Company     Sector   Industry        Location  Revenue  \
Rank
724   Scotts Miracle-Gro  Chemicals  Chemicals  Marysville, OH     3017

      Profits  Employees
Rank
724       160       7900
           Company                  Sector                  Industry  \
Rank
428   Dana Holding  Motor Vehicles & Parts  Motor Vehicles and Parts

        Location  Revenue  Profits  Employees
Rank
428   Maumee, OH     6060      159      23100
          Company      Sector                                  Industry  \
Rank
137   Progressive  Financials  Insurance: Property and Casualty (Stock)

                  Location  Revenue  Profits  Employees
Rank
137   Mayfield Village, OH    20854     1268      28580
        Company      Sector                         Industry      Location  \
Rank
590   Torchmark  Financials  Insurance: Life, Health (stock)  McKinney, TX

      Revenue  Profits  Employees
Rank
590      4027      527       3115
          Company      Sector                Industry    Location  Revenue  \
Rank
43    Freddie Mac  Financials  Diversified Financials  McLean, VA    63491

      Profits  Employees
Rank
43       6376       5439
                      Company       Sector                         Industry  \
Rank
618   Select Medical Holdings  Health Care  Health Care: Medical Facilities

               Location  Revenue  Profits  Employees
Rank
618   Mechanicsburg, PA     3743      131      34700
            Company       Sector                  Industry  \
Rank
291   Owens & Minor  Health Care  Wholesalers: Health Care

                Location  Revenue  Profits  Employees
Rank
291   Mechanicsville, VA     9773      103       8100
            Company     Sector                        Industry     Location  \
Rank
346   Lithia Motors  Retailing  Automotive Retailing, Services  Medford, OR

      Revenue  Profits  Employees
Rank
346      7864      183       9574
                 Company          Sector                  Industry  \
Rank
528   Polaris Industries  Transportation  Transportation Equipment

        Location  Revenue  Profits  Employees
Rank
528   Medina, MN     4719      455       8100
                Company     Sector   Industry    Location  Revenue  Profits  \
Rank
538   RPM International  Chemicals  Chemicals  Medina, OH     4595      240

      Employees
Rank
538       12864
     Company      Sector                                    Industry  \
Rank
505   Harris  Technology  Network and Other Communications Equipment

           Location  Revenue  Profits  Employees
Rank
505   Melbourne, FL     5083      334      22300
           Company       Sector                  Industry      Location  \
Rank
268   Henry Schein  Health Care  Wholesalers: Health Care  Melville, NY

      Revenue  Profits  Employees
Rank
268     10630      479      19000
     Company          Sector                             Industry  \
Rank
58     FedEx  Transportation  Mail, Package, and Freight Delivery

         Location  Revenue  Profits  Employees
Rank
58    Memphis, TN    47453     1050     323035
       Company      Sector                         Industry        Location  \
Rank
157   Facebook  Technology  Internet Services and Retailing  Menlo Park, CA

      Revenue  Profits  Employees
Rank
157     17928     3688      12691
     Company     Sector               Industry             Location  Revenue  \
Rank
145   Kohl’s  Retailing  General Merchandisers  Menomonee Falls, WI    19204

      Profits  Employees
Rank
145       673      86000
       Company                     Sector         Industry     Location  \
Rank
460   Seaboard  Food, Beverages & Tobacco  Food Production  Merriam, KS

      Revenue  Profits  Employees
Rank
460      5594      171      10772
       Company  Sector                     Industry          Location  \
Rank
483   NiSource  Energy  Utilities: Gas and Electric  Merrillville, IN

      Revenue  Profits  Employees
Rank
483      5308      287       7596
            Company     Sector                    Industry       Location  \
Rank
825   PC Connection  Retailing  Specialty Retailers: Other  Merrimack, NH

      Revenue  Profits  Employees
Rank
825      2574       47       2155
                  Company       Sector                  Industry   Location  \
Rank
92    World Fuel Services  Wholesalers  Wholesalers: Diversified  Miami, FL

      Revenue  Profits  Employees
Rank
92      30380      187       4700
           Company     Sector   Industry     Location  Revenue  Profits  \
Rank
56    Dow Chemical  Chemicals  Chemicals  Midland, MI    48778     7685

      Employees
Rank
56        49495

     Company      Sector                                       Industry  \
Rank
956   Waters  Technology  Scientific,Photographic and Control Equipment

         Location  Revenue  Profits  Employees
Rank
956   Milford, MA     2042      469       6594
      Company      Sector                                        Industry  \
Rank
464   SanDisk  Technology  Semiconductors and Other Electronic Components

          Location  Revenue  Profits  Employees
Rank
464   Milpitas, CA     5565      389       8790
               Company                  Sector                  Industry  \
Rank
70    Johnson Controls  Motor Vehicles & Parts  Motor Vehicles and Parts

           Location  Revenue  Profits  Employees
Rank
70    Milwaukee, WI    40204     1563     139000
     Company     Sector               Industry         Location  Revenue  \
Rank
38    Target  Retailing  General Merchandisers  Minneapolis, MN    73785

      Profits  Employees
Rank
38       3363     341000
                 Company       Sector  \
Rank
6     UnitedHealth Group  Health Care

                                     Industry        Location  Revenue  \
Rank
6     Health Care: Insurance and Managed Care  Minnetonka, MN   157107

      Profits  Employees
Rank
6        5813     200000
              Company          Sector  Industry     Location  Revenue  \
Rank
933   Spirit Airlines  Transportation  Airlines  Miramar, FL     2142

      Profits  Employees
Rank
933       317       4326
     Company       Sector                         Industry    Location  \
Rank
97     Deere  Industrials  Construction and Farm Machinery  Moline, IL

      Revenue  Profits  Employees
Rank
97      28863     1940      57180
          Company              Sector            Industry    Location  \
Rank
159   CenturyLink  Telecommunications  Telecommunications  Monroe, LA

      Revenue  Profits  Employees
Rank
159     17900      878      43000
     Company     Sector                    Industry         Location  Revenue  \
Rank
47    Lowe’s  Retailing  Specialty Retailers: Other  Mooresville, NC    59074

      Profits  Employees
Rank
47       2546     225000
                      Company       Sector                        Industry  \
Rank
75    Honeywell International  Industrials  Electronics, Electrical Equip.

               Location  Revenue  Profits  Employees
Rank
75    Morris Plains, NJ    38581     4768     129000
                         Company                     Sector Industry  \
Rank
954   Alliance One International  Food, Beverages & Tobacco  Tobacco

             Location  Revenue  Profits  Employees
Rank
954   Morrisville, NC     2066      -15       6835
       Company      Sector                         Industry  \
Rank
36    Alphabet  Technology  Internet Services and Retailing

               Location  Revenue  Profits  Employees
Rank
36    Mountain View, CA    74989    16348      61814
        Company       Sector                        Industry         Location  \
Rank
661   C.R. Bard  Health Care  Medical Products and Equipment  Murray Hill, NJ

      Revenue  Profits  Employees
Rank
661      3416      135      15000
     Company              Sector                     Industry       Location  \
Rank
890      HNI  Household Products  Home Equipment, Furnishings  Muscatine, IA

      Revenue  Profits  Employees
Rank
890      2304      105      10200
           Company       Sector                         Industry  \
Rank
63    HCA Holdings  Health Care  Health Care: Medical Facilities

           Location  Revenue  Profits  Employees
Rank
63    Nashville, TN    43591     2129     203500
     Company     Sector               Industry    Location  Revenue  Profits  \
Rank
586    Bemis  Materials  Packaging, Containers  Neenah, WI     4071      239

      Employees
Rank
586       17696
                  Company     Sector                      Industry  \
Rank
644   Abercrombie & Fitch  Retailing  Specialty Retailers: Apparel

            Location  Revenue  Profits  Employees
Rank
644   New Albany, OH     3519       36      28500
               Company     Sector                        Industry  \
Rank
511   Rush Enterprises  Retailing  Automotive Retailing, Services

               Location  Revenue  Profits  Employees
Rank
511   New Braunfels, TX     4980       66       6700
                     Company              Sector                     Industry  \
Rank
256   Stanley Black & Decker  Household Products  Home Equipment, Furnishings

             Location  Revenue  Profits  Employees
Rank
256   New Britain, CT    11211      884      51250
                Company       Sector         Industry           Location  \
Rank
39    Johnson & Johnson  Health Care  Pharmaceuticals  New Brunswick, NJ

      Revenue  Profits  Employees
Rank
39      70074    15409     127100
                      Company       Sector         Industry       Location  \
Rank
815   Alexion Pharmaceuticals  Health Care  Pharmaceuticals  New Haven, CT

      Revenue  Profits  Employees
Rank
815      2604      144       2924
      Company  Sector                     Industry         Location  Revenue  \
Rank
247   Entergy  Energy  Utilities: Gas and Electric  New Orleans, LA    11513

      Profits  Employees
Rank
247      -177      13579
      Company              Sector            Industry      Location  Revenue  \
Rank
13    Verizon  Telecommunications  Telecommunications  New York, NY   131620

      Profits  Employees
Rank
13      17879     177700
                   Company      Sector                         Industry  \
Rank
50    Prudential Financial  Financials  Insurance: Life, Health (stock)

        Location  Revenue  Profits  Employees
Rank
50    Newark, NJ    57119     5642      49384
           Company      Sector                         Industry  \
Rank
326   Pacific Life  Financials  Insurance: Life, Health (stock)

               Location  Revenue  Profits  Employees
Rank
326   Newport Beach, CA     8642      661       3276
                            Company               Sector  \
Rank
378   Huntington Ingalls Industries  Aerospace & Defense

                   Industry          Location  Revenue  Profits  Employees
Rank
378   Aerospace and Defense  Newport News, VA     7020      404      35995
                           Company      Sector     Industry    Location  \
Rank
988   Hospitality Properties Trust  Financials  Real estate  Newton, MA

      Revenue  Profits  Employees
Rank
988      1922      166        400
               Company          Sector   Industry     Location  Revenue  \
Rank
270   Norfolk Southern  Transportation  Railroads  Norfolk, VA    10511

      Profits  Employees
Rank
270      1556      30456
     Company       Sector              Industry          Location  Revenue  \
Rank
757   Timken  Industrials  Industrial Machinery  North Canton, OH     2872

      Profits  Employees
Rank
757       -71      14709
     Company       Sector         Industry           Location  Revenue  \
Rank
123   AbbVie  Health Care  Pharmaceuticals  North Chicago, IL    22859

      Profits  Employees
Rank
123      5144      28000
     Company       Sector                                  Industry  \
Rank
553   Cerner  Health Care  Health Care: Pharmacy and Other Services

                   Location  Revenue  Profits  Employees
Rank
553   North Kansas City, MO     4425      539      22200

       Company      Sector                                  Industry  \
Rank
81    Allstate  Financials  Insurance: Property and Casualty (Stock)

            Location  Revenue  Profits  Employees
Rank
81    Northbrook, IL    35653     2171      41350
     Company      Sector                         Industry     Location  \
Rank
150    Xerox  Technology  Information Technology Services  Norwalk, CT

      Revenue  Profits  Employees
Rank
150     18664      474     143600
            Company             Sector          Industry     Location  \
Rank
677   Clean Harbors  Business Services  Waste Management  Norwell, MA

      Revenue  Profits  Employees
Rank
677      3275       44      12900
             Company      Sector  \
Rank
659   Analog Devices  Technology

                                            Industry     Location  Revenue  \
Rank
659   Semiconductors and Other Electronic Components  Norwood, MA     3435

      Profits  Employees
Rank
659       697       9700
                       Company                  Sector  \
Rank
670   Cooper-Standard Holdings  Motor Vehicles & Parts

                      Industry  Location  Revenue  Profits  Employees
Rank
670   Motor Vehicles and Parts  Novi, MI     3343      112      29000
         Company                        Sector       Industry       Location  \
Rank
109   McDonald’s  Hotels, Resturants & Leisure  Food Services  Oak Brook, IL

      Revenue  Profits  Employees
Rank
109     25413     4529     420000
     Company              Sector                         Industry  \
Rank
455   Clorox  Household Products  Household and Personal Products

         Location  Revenue  Profits  Employees
Rank
455   Oakland, CA     5666      580       7700
           Company  Sector                      Industry           Location  \
Rank
216   Devon Energy  Energy  Mining, Crude-Oil Production  Oklahoma City, OK

      Revenue  Profits  Employees
Rank
216     13145   -14454       5167
                 Company      Sector  \
Rank
4     Berkshire Hathaway  Financials

                                      Industry   Location  Revenue  Profits  \
Rank
4     Insurance: Property and Casualty (Stock)  Omaha, NE   210821    24083

      Employees
Rank
4        331000
                 Company                        Sector       Industry  \
Rank
371   Darden Restaurants  Hotels, Resturants & Leisure  Food Services

         Location  Revenue  Profits  Employees
Rank
371   Orlando, FL     7164      710     148892
           Company                     Sector                Industry  \
Rank
452   J.M. Smucker  Food, Beverages & Tobacco  Food Consumer Products

          Location  Revenue  Profits  Employees
Rank
452   Orrville, OH     5693      345       7370
      Company                  Sector                  Industry     Location  \
Rank
424   Oshkosh  Motor Vehicles & Parts  Motor Vehicles and Parts  Oshkosh, WI

      Revenue  Profits  Employees
Rank
424      6098      230      13300
                  Company       Sector                  Industry  \
Rank
463   Lansing Trade Group  Wholesalers  Wholesalers: Diversified

               Location  Revenue  Profits  Employees
Rank
463   Overland Park, KS     5565       35        500
               Company                      Sector                   Industry  \
Rank
963   Dycom Industries  Engineering & Construction  Engineering, Construction

                    Location  Revenue  Profits  Employees
Rank
963   Palm Beach Gardens, FL     2022       84      11159
     Company      Sector                     Industry       Location  Revenue  \
Rank
20        HP  Technology  Computers, Office Equipment  Palo Alto, CA   103355

      Profits  Employees
Rank
20       4554     287000
         Company  Sector            Industry        Location  Revenue  \
Rank
217   PBF Energy  Energy  Petroleum Refining  Parsippany, NJ    13124

      Profits  Employees
Rank
217       146       2270
                       Company                      Sector  \
Rank
235   Jacobs Engineering Group  Engineering & Construction

                       Industry      Location  Revenue  Profits  Employees
Rank
235   Engineering, Construction  Pasadena, CA    12115      303      56950
     Company              Sector       Industry       Location  Revenue  \
Rank
550   Hasbro  Household Products  Miscellaneous  Pawtucket, RI     4448

      Profits  Employees
Rank
550       452       5000
          Company       Sector                         Industry    Location  \
Rank
59    Caterpillar  Industrials  Construction and Farm Machinery  Peoria, IL

      Revenue  Profits  Employees
Rank
59      47011     2102     112200
             Company     Sector               Industry        Location  \
Rank
418   Owens-Illinois  Materials  Packaging, Containers  Perrysburg, OH

      Revenue  Profits  Employees
Rank
418      6156      -74      27000
      Company              Sector            Industry          Location  \
Rank
37    Comcast  Telecommunications  Telecommunications  Philadelphia, PA

      Revenue  Profits  Employees
Rank
37      74510     8163     153000
     Company       Sector                                       Industry  \
Rank
102    Avnet  Wholesalers  Wholesalers: Electronics and Office Equipment

         Location  Revenue  Profits  Employees
Rank
102   Phoenix, AZ    27925      572      18800
          Company                     Sector                Industry  \
Rank
153   Kraft Heinz  Food, Beverages & Tobacco  Food Consumer Products

            Location  Revenue  Profits  Employees
Rank
153   Pittsburgh, PA    18338      634      42000
          Company     Sector               Industry   Location  Revenue  \
Rank
228   J.C. Penney  Retailing  General Merchandisers  Plano, TX    12625

      Profits  Employees
Rank
228      -513     105000
     Company     Sector   Industry      Location  Revenue  Profits  Employees
Rank
316   Mosaic  Chemicals  Chemicals  Plymouth, MN     8895     1000       8900
       Company     Sector                    Industry             Location  \
Rank
748   Systemax  Retailing  Specialty Retailers: Other  Port Washington, NY

      Revenue  Profits  Employees
Rank
748      2908     -100       3300
                  Company               Sector               Industry  \
Rank
282   Precision Castparts  Aerospace & Defense  Aerospace and Defense

          Location  Revenue  Profits  Employees
Rank
282   Portland, OR    10056     1530      30106
                Company       Sector                  Industry  \
Rank
653   Sprague Resources  Wholesalers  Wholesalers: Diversified

            Location  Revenue  Profits  Employees
Rank
653   Portsmouth, NH     3482       78        590
         Company  Sector Industry       Location  Revenue  Profits  Employees
Rank
193   NRG Energy  Energy   Energy  Princeton, NJ    14674    -6382      10468
      Company               Sector               Industry        Location  \
Rank
209   Textron  Aerospace & Defense  Aerospace and Defense  Providence, RI

      Revenue  Profits  Employees
Rank
209     13423      697      35000
                  Company              Sector  \
Rank
907   Nu Skin Enterprises  Household Products

                             Industry   Location  Revenue  Profits  Employees
Rank

907   Household and Personal Products  Provo, UT     2247      133      26800
      Company                     Sector                Industry  \
Rank
44    PepsiCo  Food, Beverages & Tobacco  Food Consumer Products

          Location  Revenue  Profits  Employees
Rank
44    Purchase, NY    63056     5452     263000
               Company      Sector                         Industry  \
Rank
205   Lincoln National  Financials  Insurance: Life, Health (stock)

        Location  Revenue  Profits  Employees
Rank
205   Radnor, PA    13572     1154       9312
                        Company     Sector                   Industry  \
Rank
641   Martin Marietta Materials  Materials  Building Materials, Glass

         Location  Revenue  Profits  Employees
Rank
641   Raleigh, NC     3540      289       7299
      Company       Sector                        Industry     Location  \
Rank
841   EnerSys  Industrials  Electronics, Electrical Equip.  Reading, PA

      Revenue  Profits  Employees
Rank
841      2506      181       9500
                    Company                      Sector      Industry  \
Rank
929   Hovnanian Enterprises  Engineering & Construction  Homebuilders

          Location  Revenue  Profits  Employees
Rank
929   Red Bank, NJ     2149      -16       2078
        Company      Sector           Industry     Location  Revenue  Profits  \
Rank
25    Microsoft  Technology  Computer Software  Redmond, WA    93580    12193

      Employees
Rank
25       118000
     Company      Sector           Industry          Location  Revenue  \
Rank
77    Oracle  Technology  Computer Software  Redwood City, CA    38226

      Profits  Employees
Rank
77       9938     132000
     Company          Sector                 Industry  Location  Revenue  \
Rank
713   Amerco  Transportation  Trucking, Truck Leasing  Reno, NV     3075

      Profits  Employees
Rank
713       357      18415
     Company                      Sector      Industry    Location  Revenue  \
Rank
498      NVR  Engineering & Construction  Homebuilders  Reston, VA     5170

      Profits  Employees
Rank
498       383       4300
                   Company       Sector              Industry        Location  \
Rank
655   Lennox International  Industrials  Industrial Machinery  Richardson, TX

      Revenue  Profits  Employees
Rank
655      3467      187      10000
       Company     Sector                    Industry       Location  Revenue  \
Rank
71    Best Buy  Retailing  Specialty Retailers: Other  Richfield, MN    39745

      Profits  Employees
Rank
71        897     125000
           Company                     Sector Industry      Location  Revenue  \
Rank
149   Altria Group  Food, Beverages & Tobacco  Tobacco  Richmond, VA    18854

      Profits  Employees
Rank
149      5241       8800
                          Company      Sector          Industry  \
Rank
283   Discover Financial Services  Financials  Commercial Banks

            Location  Revenue  Profits  Employees
Rank
283   Riverwoods, IL    10002     2297      15036
                 Company     Sector                    Industry     Location  \
Rank
293   Advance Auto Parts  Retailing  Specialty Retailers: Other  Roanoke, VA

      Revenue  Profits  Employees
Rank
293      9737      473      56500
             Company                  Sector                  Industry  \
Rank
811   WABCO Holdings  Motor Vehicles & Parts  Motor Vehicles and Parts

                 Location  Revenue  Profits  Employees
Rank
811   Rochester Hills, MI     2628      275      12429
      Company             Sector                          Industry  \
Rank
783   Paychex  Business Services  Diversified Outsourcing Services

           Location  Revenue  Profits  Employees
Rank
783   Rochester, NY     2740      675      13000
                   Company   Sector Industry      Location  Revenue  Profits  \
Rank
794   Wolverine World Wide  Apparel  Apparel  Rockford, MI     2692      123

      Employees
Rank
794        6550
     Company       Sector         Industry        Location  Revenue  Profits  \
Rank
684     NBTY  Health Care  Pharmaceuticals  Ronkonkoma, NY     3226       74

      Employees
Rank
684       13100
     Company             Sector                          Industry  \
Rank
248      ADP  Business Services  Diversified Outsourcing Services

          Location  Revenue  Profits  Employees
Rank
248   Roseland, NJ    11477     1453      55000
                   Company  Sector                     Industry      Location  \
Rank
246   Edison International  Energy  Utilities: Gas and Electric  Rosemead, CA

      Revenue  Profits  Employees
Rank
246     11524     1020      12768
               Company       Sector                       Industry  \
Rank
122   US Foods Holding  Wholesalers  Wholesalers: Food and Grocery

          Location  Revenue  Profits  Employees
Rank
122   Rosemont, IL    23128      168      25000
     Company       Sector              Industry       Location  Revenue  \
Rank
622    Xylem  Industrials  Industrial Machinery  Rye Brook, NY     3653

      Profits  Employees
Rank
622       340      12700
             Company      Sector          Industry            Location  \
Rank
916   Zions Bancorp.  Financials  Commercial Banks  Salt Lake City, UT

      Revenue  Profits  Employees
Rank
916      2211      310      10200
            Company  Sector            Industry         Location  Revenue  \
Rank
32    Valero Energy  Energy  Petroleum Refining  San Antonio, TX    81824

      Profits  Employees
Rank
32       3990      10103
       Company      Sector                                    Industry  \
Rank
110   Qualcomm  Technology  Network and Other Communications Equipment

           Location  Revenue  Profits  Employees
Rank
110   San Diego, CA    25281     5271      33000

       Company       Sector                  Industry           Location  \
Rank
5     McKesson  Health Care  Wholesalers: Health Care  San Francisco, CA

      Revenue  Profits  Employees
Rank
5      181241     1476      70400
            Company      Sector                                    Industry  \
Rank
54    Cisco Systems  Technology  Network and Other Communications Equipment

          Location  Revenue  Profits  Employees
Rank
54    San Jose, CA    49161     8981      71833
                  Company       Sector  \
Rank
749   Triple-S Management  Health Care

                                     Industry      Location  Revenue  Profits  \
Rank
749   Health Care: Insurance and Managed Care  San Juan, PR     2903       52

      Employees
Rank
749        3405
           Company             Sector                          Industry  \
Rank
803   TriNet Group  Business Services  Diversified Outsourcing Services

             Location  Revenue  Profits  Employees
Rank
803   San Leandro, CA     2659       32       2500
                 Company      Sector    Industry       Location  Revenue  \
Rank
344   Franklin Resources  Financials  Securities  San Mateo, CA     7949

      Profits  Employees
Rank
344      2035       9489
       Company      Sector           Industry        Location  Revenue  \
Rank
842   Autodesk  Technology  Computer Software  San Rafael, CA     2504

      Profits  Employees
Rank
842      -331       9500
      Company  Sector            Industry       Location  Revenue  Profits  \
Rank
14    Chevron  Energy  Petroleum Refining  San Ramon, CA   131118     4587

      Employees
Rank
14        61500
                       Company      Sector  \
Rank
497   First American Financial  Financials

                                      Industry       Location  Revenue  \
Rank
497   Insurance: Property and Casualty (Stock)  Santa Ana, CA     5176

      Profits  Employees
Rank
497       288      17955
     Company      Sector                                        Industry  \
Rank
51     Intel  Technology  Semiconductors and Other Electronic Components

             Location  Revenue  Profits  Employees
Rank
51    Santa Clara, CA    55355    11420     107300
                     Company     Sector       Industry          Location  \
Rank
426   A-Mark Precious Metals  Materials  Miscellaneous  Santa Monica, CA

      Revenue  Profits  Employees
Rank
426      6070        7         52
                    Company      Sector  \
Rank
760   Keysight Technologies  Technology

                                           Industry        Location  Revenue  \
Rank
760   Scientific,Photographic and Control Equipment  Santa Rosa, CA     2856

      Profits  Employees
Rank
760       513      10250
                 Company      Sector  \
Rank
632   Roper Technologies  Technology

                                           Industry      Location  Revenue  \
Rank
632   Scientific,Photographic and Control Equipment  Sarasota, FL     3582

      Profits  Employees
Rank
632       696      10806
                 Company      Sector  \
Rank
451   Motorola Solutions  Technology

                                        Industry        Location  Revenue  \
Rank
451   Network and Other Communications Equipment  Schaumburg, IL     5695

      Profits  Employees
Rank
451       610      14000
              Company       Sector                                 Industry  \
Rank
537   Magellan Health  Health Care  Health Care: Insurance and Managed Care

            Location  Revenue  Profits  Employees
Rank
537   Scottsdale, AZ     4597       31       6900
         Company      Sector                         Industry     Location  \
Rank
18    Amazon.com  Technology  Internet Services and Retailing  Seattle, WA

      Revenue  Profits  Employees
Rank
18     107006      596     230800
      Company       Sector                        Industry     Location  \
Rank
666   Hubbell  Industrials  Electronics, Electrical Equip.  Shelton, CT

      Revenue  Profits  Employees
Rank
666      3390      277      16200
       Company     Sector                    Industry    Location  Revenue  \
Rank
592   Cabela’s  Retailing  Specialty Retailers: Other  Sidney, NE     3998

      Profits  Employees
Rank
592       189      19700
                       Company Sector       Industry           Location  \
Rank
406   Discovery Communications  Media  Entertainment  Silver Spring, MD

      Revenue  Profits  Employees
Rank
406      6394     1034       7000
                Company       Sector                       Industry  \
Rank
317   Core-Mark Holding  Wholesalers  Wholesalers: Food and Grocery

                     Location  Revenue  Profits  Employees
Rank
317   South San Francisco, CA     8858       52       6655
     Company                  Sector                  Industry  \
Rank
154     Lear  Motor Vehicles & Parts  Motor Vehicles and Parts

            Location  Revenue  Profits  Employees
Rank
154   Southfield, MI    18211      746     136200
     Company      Sector                         Industry       Location  \
Rank
736    Sabre  Technology  Internet Services and Retailing  Southlake, TX

      Revenue  Profits  Employees
Rank
736      2986      546       9100
        Company                     Sector                Industry  \
Rank
567   McCormick  Food, Beverages & Tobacco  Food Consumer Products

        Location  Revenue  Profits  Employees
Rank
567   Sparks, MD     4296      402      10600
          Company                     Sector         Industry        Location  \
Rank
66    Tyson Foods  Food, Beverages & Tobacco  Food Production  Springdale, AR

      Revenue  Profits  Employees
Rank
66      41373     1220     113000
                                  Company      Sector  \
Rank
76    Massachusetts Mutual Life Insurance  Financials

                              Industry         Location  Revenue  Profits  \
Rank
76    Insurance: Life, Health (Mutual)  Springfield, MA    38243     1425

      Employees
Rank
76        11593
                  Company     Sector                    Industry  \
Rank
342   O’Reilly Automotive  Retailing  Specialty Retailers: Other

             Location  Revenue  Profits  Employees
Rank
342   Springfield, MO     7967      931      54911
      Company          Sector  Industry        Location  Revenue  Profits  \
Rank
709   SkyWest  Transportation  Airlines  St. George, UT     3096      118

      Employees
Rank
709       18300
                      Company       Sector  \
Rank
22    Express Scripts Holding  Health Care

                                      Industry       Location  Revenue  \
Rank
22    Health Care: Pharmacy and Other Services  St. Louis, MO   101752

      Profits  Employees
Rank
22       2476      25900
     Company       Sector       Industry      Location  Revenue  Profits  \
Rank
93        3M  Industrials  Miscellaneous  St. Paul, MN    30274     4833

      Employees
Rank
93        89446
            Company      Sector  \
Rank
158   Jabil Circuit  Technology

                                            Industry            Location  \
Rank
158   Semiconductors and Other Electronic Components  St. Petersburg, FL

      Revenue  Profits  Employees
Rank
158     17914      284     161000
                     Company              Sector            Industry  \
Rank
292   Charter Communications  Telecommunications  Telecommunications

          Location  Revenue  Profits  Employees
Rank
292   Stamford, CT     9754     -271      23800
                     Company      Sector  \
Rank
755   Sentry Insurance Group  Financials

                                       Industry           Location  Revenue  \
Rank
755   Insurance: Property and Casualty (Mutual)  Stevens Point, WI     2883

      Profits  Employees
Rank

755       284       4169
      Company       Sector         Industry    Location  Revenue  Profits  \
Rank
305   Celgene  Health Care  Pharmaceuticals  Summit, NJ     9256     1602

      Employees
Rank
305        6971
           Company                Sector              Industry     Location  \
Rank
756   Weis Markets  Food and Drug Stores  Food and Drug Stores  Sunbury, PA

      Revenue  Profits  Employees
Rank
756      2877       59      19000
     Company      Sector              Industry       Location  Revenue  \
Rank
422   NetApp  Technology  Computer Peripherals  Sunnyvale, CA     6123

      Profits  Employees
Rank
422       560      12810
     Company       Sector                                  Industry  \
Rank
775   Mednax  Health Care  Health Care: Pharmacy and Other Services

         Location  Revenue  Profits  Employees
Rank
775   Sunrise, FL     2780      336       8645
            Company Sector              Industry    Location  Revenue  \
Rank
530   Quad/Graphics  Media  Publishing, Printing  Sussex, WI     4678

      Profits  Employees
Rank
530      -642      22500
           Company                      Sector                   Industry  \
Rank
516   Tutor Perini  Engineering & Construction  Engineering, Construction

        Location  Revenue  Profits  Employees
Rank
516   Sylmar, CA     4921       45      10626
     Company             Sector                 Industry             Location  \
Rank
694   Vantiv  Business Services  Financial Data Services  Symmes Township, OH

      Revenue  Profits  Employees
Rank
694      3160      148       3313
       Company             Sector        Industry    Location  Revenue  \
Rank
791   TrueBlue  Business Services  Temporary Help  Tacoma, WA     2696

      Profits  Employees
Rank
791        71       5500
                    Company       Sector  \
Rank
202   WellCare Health Plans  Health Care

                                     Industry   Location  Revenue  Profits  \
Rank
202   Health Care: Insurance and Managed Care  Tampa, FL    13890      119

      Employees
Rank
202        6900
                        Company       Sector         Industry       Location  \
Rank
583   Regeneron Pharmaceuticals  Health Care  Pharmaceuticals  Tarrytown, NY

      Revenue  Profits  Employees
Rank
583      4104      636       4300
     Company              Sector                     Industry    Location  \
Rank
345    Masco  Household Products  Home Equipment, Furnishings  Taylor, MI

      Revenue  Profits  Employees
Rank
345      7904      355      25000
                             Company      Sector  \
Rank
230   Cognizant Technology Solutions  Technology

                             Industry     Location  Revenue  Profits  \
Rank
230   Information Technology Services  Teaneck, NJ    12416     1624

      Employees
Rank
230      221700
                  Company       Sector  \
Rank
474   Insight Enterprises  Wholesalers

                                           Industry   Location  Revenue  \
Rank
474   Wholesalers: Electronics and Office Equipment  Tempe, AZ     5373

      Profits  Employees
Rank
474        76       5761
       Company     Sector   Industry           Location  Revenue  Profits  \
Rank
277   Huntsman  Chemicals  Chemicals  The Woodlands, TX    10299       93

      Employees
Rank
277       15000
            Company                     Sector                Industry  \
Rank
615   Flowers Foods  Food, Beverages & Tobacco  Food Consumer Products

             Location  Revenue  Profits  Employees
Rank
615   Thomasville, GA     3779      189      10900
                        Company          Sector                 Industry  \
Rank
740   Old Dominion Freight Line  Transportation  Trucking, Truck Leasing

             Location  Revenue  Profits  Employees
Rank
740   Thomasville, NC     2972      305      17931
     Company       Sector         Industry           Location  Revenue  \
Rank
130    Amgen  Health Care  Pharmaceuticals  Thousand Oaks, CA    21662

      Profits  Employees
Rank
130      6939      17900
            Company     Sector                   Industry    Location  \
Rank
480   Owens Corning  Materials  Building Materials, Glass  Toledo, OH

      Revenue  Profits  Employees
Rank
480      5350      330      15000
            Company  Sector                     Industry    Location  Revenue  \
Rank
853   Westar Energy  Energy  Utilities: Gas and Electric  Topeka, KS     2459

      Profits  Employees
Rank
853       292       2330
             Company             Sector        Industry  Location  Revenue  \
Rank
467   Kelly Services  Business Services  Temporary Help  Troy, MI     5518

      Profits  Employees
Rank
467        54       8100
                 Company       Sector  \
Rank
978   Providence Service  Health Care

                                      Industry    Location  Revenue  Profits  \
Rank
978   Health Care: Pharmacy and Other Services  Tucson, AZ     1987       84

      Employees
Rank
978        9072
                  Company       Sector                  Industry   Location  \
Rank
167   NGL Energy Partners  Wholesalers  Wholesalers: Diversified  Tulsa, OK

      Revenue  Profits  Employees
Rank
167     16802       17       3100
                Company     Sector                    Industry   Location  \
Rank
238   Bed Bath & Beyond  Retailing  Specialty Retailers: Other  Union, NJ

      Revenue  Profits  Employees
Rank
238     11881      958      60000
      Company                  Sector                  Industry  \
Rank
470   Visteon  Motor Vehicles & Parts  Motor Vehicles and Parts

                    Location  Revenue  Profits  Employees
Rank
470   Van Buren Township, MI     5444     2284      11000
                   Company                     Sector   Industry    Location  \
Rank
429   Constellation Brands  Food, Beverages & Tobacco  Beverages  Victor, NY

      Revenue  Profits  Employees
Rank
429      6028      839       7200

                   Company  Sector       Industry      Location  Revenue  \
Rank
696   American Water Works  Energy  Miscellaneous  Voorhees, NJ     3159

      Profits  Employees
Rank
696       476       6700
                   Company  Sector Industry  Location  Revenue  Profits  \
Rank
784   New Jersey Resources  Energy   Energy  Wall, NJ     2734      181

      Employees
Rank
784         991
       Company      Sector                                    Industry  \
Rank
462   Amphenol  Technology  Network and Other Communications Equipment

             Location  Revenue  Profits  Employees
Rank
462   Wallingford, CT     5569      764      50700
       Company               Sector               Industry     Location  \
Rank
120   Raytheon  Aerospace & Defense  Aerospace and Defense  Waltham, MA

      Revenue  Profits  Employees
Rank
120     23247     2074      61000
              Company  Sector            Industry    Location  Revenue  \
Rank
850   United Refining  Energy  Petroleum Refining  Warren, PA     2470

      Profits  Employees
Rank
850        82       2997
                     Company       Sector                        Industry  \
Rank
431   Zimmer Biomet Holdings  Health Care  Medical Products and Equipment

        Location  Revenue  Profits  Employees
Rank
431   Warsaw, IN     5998      147      17500
         Company      Sector                Industry        Location  Revenue  \
Rank
16    Fannie Mae  Financials  Diversified Financials  Washington, DC   110359

      Profits  Employees
Rank
16      10954       7300
                    Company                     Sector   Industry  \
Rank
542   Keurig Green Mountain  Food, Beverages & Tobacco  Beverages

           Location  Revenue  Profits  Employees
Rank
542   Waterbury, VT     4520      498       6000
           Company     Sector   Industry       Location  Revenue  Profits  \
Rank
898   MPM Holdings  Chemicals  Chemicals  Waterford, NY     2289      -83

      Employees
Rank
898        5000
                   Company                      Sector  \
Rank
874   Granite Construction  Engineering & Construction

                       Industry         Location  Revenue  Profits  Employees
Rank
874   Engineering, Construction  Watsonville, CA     2371       61       3200
                Company       Sector              Industry       Location  \
Rank
1000  Briggs & Stratton  Industrials  Industrial Machinery  Wauwatosa, WI

      Revenue  Profits  Employees
Rank
1000     1895       46       5480
          Company     Sector                    Industry   Location  Revenue  \
Rank
240   Toys “R” Us  Retailing  Specialty Retailers: Other  Wayne, NJ    11802

      Profits  Employees
Rank
240      -130      62000
            Company               Sector               Industry  \
Rank
785   B/E Aerospace  Aerospace & Defense  Aerospace and Defense

            Location  Revenue  Profits  Employees
Rank
785   Wellington, FL     2730      286      10057
               Company     Sector Industry          Location  Revenue  \
Rank
383   AK Steel Holding  Materials   Metals  West Chester, OH     6693

      Profits  Employees
Rank
383      -509       8500
                          Company     Sector   Industry             Location  \
Rank
829   Platform Specialty Products  Chemicals  Chemicals  West Palm Beach, FL

      Revenue  Profits  Employees
Rank
829      2542     -309       8200
                         Company      Sector          Industry      Location  \
Rank
996   New York Community Bancorp  Financials  Commercial Banks  Westbury, NY

      Revenue  Profits  Employees
Rank
996      1902      -47       3448
        Company                     Sector         Industry         Location  \
Rank
456   Ingredion  Food, Beverages & Tobacco  Food Production  Westchester, IL

      Revenue  Profits  Employees
Rank
456      5621      402      11500
                       Company     Sector                    Industry  \
Rank
439   TravelCenters of America  Retailing  Specialty Retailers: Other

          Location  Revenue  Profits  Employees
Rank
439   Westlake, OH     5851       28      18450
     Company       Sector                         Industry      Location  \
Rank
396    Terex  Industrials  Construction and Farm Machinery  Westport, CT

      Revenue  Profits  Employees
Rank
396      6543      146      20400
     Company       Sector              Industry          Location  Revenue  \
Rank
847      ITT  Industrials  Industrial Machinery  White Plains, NY     2486

      Profits  Employees
Rank
847       352       9700
                          Company               Sector               Industry  \
Rank
389   Spirit AeroSystems Holdings  Aerospace & Defense  Aerospace and Defense

         Location  Revenue  Profits  Employees
Rank
389   Wichita, KS     6644      789      15200
           Company                Sector              Industry  \
Rank
849   Tops Holding  Food and Drug Stores  Food and Drug Stores

               Location  Revenue  Profits  Employees
Rank
849   Williamsville, NY     2472      -62      14800
                                  Company       Sector              Industry  \
Rank
674   Westinghouse Air Brake Technologies  Industrials  Industrial Machinery

            Location  Revenue  Profits  Employees
Rank
674   Wilmerding, PA     3308      399      13000
     Company     Sector   Industry        Location  Revenue  Profits  \
Rank
101   DuPont  Chemicals  Chemicals  Wilmington, DE    27940     1953

      Employees
Rank
101       52000
       Company     Sector                    Industry    Location  Revenue  \
Rank
607   Fastenal  Retailing  Specialty Retailers: Other  Winona, MN     3869

      Profits  Employees
Rank
607       516      20746
                Company                     Sector Industry  \
Rank
266   Reynolds American  Food, Beverages & Tobacco  Tobacco

               Location  Revenue  Profits  Employees
Rank
266   Winston-Salem, NC    10675     3253       5650
                 Company      Sector  \
Rank
678   Skyworks Solutions  Technology

                                            Industry    Location  Revenue  \
Rank
678   Semiconductors and Other Electronic Components  Woburn, MA     3258

      Profits  Employees
Rank
678       798       6700
         Company       Sector                                 Industry  \
Rank
172   Health Net  Health Care  Health Care: Insurance and Managed Care

                Location  Revenue  Profits  Employees
Rank
172   Woodland Hills, CA    16244      186       8584
         Company                Sector              Industry        Location  \
Rank
7     CVS Health  Food and Drug Stores  Food and Drug Stores  Woonsocket, RI

      Revenue  Profits  Employees
Rank
7      153290     5237     199000
                      Company      Sector  \
Rank
506   Hanover Insurance Group  Financials

                                      Industry       Location  Revenue  \
Rank
506   Insurance: Property and Casualty (Stock)  Worcester, MA     5034

      Profits  Employees
Rank
506       332       4800
                   Company                        Sector  \
Rank
764   Penn National Gaming  Hotels, Resturants & Leisure

                      Industry        Location  Revenue  Profits  Employees
Rank
764   Hotels, Casinos, Resorts  Wyomissing, PA     2838        1      18204
             Company     Sector               Industry  Location  Revenue  \
Rank
773   Bon-Ton Stores  Retailing  General Merchandisers  York, PA     2790

      Profits  Employees
Rank
773       -57      24100
            Company              Sector                     Industry  \
Rank
932   Herman Miller  Household Products  Home Equipment, Furnishings

         Location  Revenue  Profits  Employees
Rank
932   Zeeland, MI     2142       98       7510

In [97]:
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []