# Some Exercise

Get the data from mentioned link.
https://www.kaggle.com/kaggle/sf-salaries/data?select=Salaries.csv
And answer the some question that is mentioned.
Q1.What is the average BasePay
Q2.What is the hightest amount of Overtime Pay in DataSet ?
Q3.What is the job title of JOSEPH DRISCOLL ?

In [25]:
import pandas as pd

In [26]:
data = pd.read_csv('datasets/Salaries.csv')
data

/home/aman/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

# Q1.What is the average BasePay ?

In [28]:
data['BasePay'].str.replace('Not Provided','0')

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
148649    0.00
148650       0
148651       0
148652       0
148653    0.00
Name: BasePay, Length: 148654, dtype: object

In [34]:
a = data.loc[:,'BasePay']=='Not Provided'
data['BasePay'][a] = 0
data['BasePay']=data['BasePay'].astype('float')
data['BasePay'].mean()

/home/aman/.local/lib/python3.6/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/aman/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

66323.6568540821

# Q2.What is the hightest amount of Overtime Pay in DataSet ?

In [43]:
a = data.loc[:,'OvertimePay']=='Not Provided'
data['OvertimePay'][a] = 0
data['OvertimePay']=data['OvertimePay'].astype('float')
data['OvertimePay'].max()

/home/aman/.local/lib/python3.6/site-packages/pandas/core/computation/expressions.py:68: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  return op(a, b)
/home/aman/.local/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

319275.01

# Q3.What is the job title of JOSEPH DRISCOLL ?

In [48]:
data.head()
data[data['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

# Q4.How much does JOSEPH DRISCOLL make(including Benifits)

In [50]:
data.head()
data[data['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

# Q5.What is the name of highest paid person(including Benefits)

In [53]:
a = data['TotalPayBenefits'] == data['TotalPayBenefits'].max()
data['EmployeeName'][a]
data.iloc[data['TotalPayBenefits'].idxmax()]#another way

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

# Q6.What is the name of lowest paid person (including benifits)? Do you notice something strange about how much her or she is paid?

In [66]:
a = data['TotalPayBenefits'].idxmin()
b = data['TotalPayBenefits'].argmin()
data.iloc[a]
data.iloc[b]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                      0
OvertimePay                                  0
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

# Q7.What was the average (mean) Basepay of all employees per year(2011-2014) ?

In [74]:
data.head()
data.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66557.437750
Name: BasePay, dtype: float64

# Q8.How many unique JobTitles are there ?

In [77]:
data['JobTitle'].nunique()

2159

# Q9.What are the top 5 most comman jobs

In [79]:
data['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

# Q10.How many job titles were represented by only one person in 2013 (e.g. Job Titles with only one occurene in 2013)

In [89]:
sum(data[data['Year']==2013]['JobTitle'].value_counts()==1)

202

# Q11.How many people have the word chief in their job title ?

In [94]:
sum(data['JobTitle'].str.lower().str.contains('chief'))
a = data['JobTitle'].str.lower().str.contains('chief')
data[a]

627