# Pandas Date Time
Many times we got a data which reflects time or specific day something that something occured.We may want to perform some analysis or operation or any calucaltion like get the distance between 2 days or the duration, finding out what day of the week something occured or classifying data by something like quator which occured.In this tutorial we are going to discuss Python's Datetime modules.Firstly we will discuss about all about the datetime module in python then we will discuss how pandas is going to handle this dates and time.
Author: Amanpreet Singh(aman64039@gmail.com)

In [1]:
import pandas as pd
import datetime as dt #datetime module of python

# Review of Python's datetime Module

In [2]:
bday = dt.date(2019,8,29)
bday.day
bday.month
bday.year

2019

In [3]:
dt.datetime(2019,8,29, 22,5,2)#year , month,day,hour,min , seconds
#if we are not passing any tie  it willl pick 0 as midnight

datetime.datetime(2019, 8, 29, 22, 5, 2)

In [4]:
str(dt.datetime(2019,8,29, 22,5,2)) #gettinng in str

'2019-08-29 22:05:02'

In [5]:
a =dt.datetime(2019,8,29, 22,5,2)
b = str(a)
b
a.hour
a.minute
a.second
"""
Its really efective when we are working with dates and you may want to extract
something like a revenue of 2nd month.In order to aggreagate we will be 
able to extrcat the month from every date even though teh dates may be diffrent one 
"""

'\nIts really efective when we are working with dates and you may want to extract\nsomething like a revenue of 2nd month.In order to aggreagate we will be \nable to extrcat the month from every date even though teh dates may be diffrent one \n'

# The pandas TimeStamp object
Timestamp object is basically pandas version of Python's datetime.It represents a single time stamp or a single moment in time and it can have dates and times it doesn't need the time component however and much like Python's daytime object. If the user does not provide a specific time it's just going to default to midnight on that day.

In [6]:
pd.Timestamp("2020-08-29")
pd.Timestamp("2020/08/29")
pd.Timestamp("2020/08/29")#y/m/d
pd.Timestamp("2020,29,08")#with coma y,date,month
pd.Timestamp("29/08/2020")
pd.Timestamp("4/03/2020")#it will take as first as month
pd.Timestamp("29/08/2020 22:05:00")
pd.Timestamp("29/08/2020 10:05:00 pm")

Timestamp('2020-08-29 22:05:00')

In [7]:
pd.Timestamp(dt.date(2019,8,29))

Timestamp('2019-08-29 00:00:00')

# The pandas DateTimeINdex Object
It is just a collection of pandas timestamp.

In [8]:
dates = ["2016-01-01","2017-02-02","2018-03-03","2019-04-04","2020-05-05"]
dates
pd.DatetimeIndex(dates)#will return the datetime index object
type(pd.DatetimeIndex(dates))

pandas.core.indexes.datetimes.DatetimeIndex

In [9]:
#changing the format of dates
dates = list(map(lambda x:x.replace('-','/'),dates))
dates
pd.DatetimeIndex(dates)

DatetimeIndex(['2016-01-01', '2017-02-02', '2018-03-03', '2019-04-04',
               '2020-05-05'],
              dtype='datetime64[ns]', freq=None)

In [10]:
dates = [dt.datetime(2016,5,4),dt.datetime(2017,5,4),dt.datetime(2018,5,4),]
datetimeindex = pd.DatetimeIndex(dates)

In [11]:
value = [100,200,300]
s = pd.Series(value,index= datetimeindex)
s

2016-05-04    100
2017-05-04    200
2018-05-04    300
dtype: int64

# Pandas to_date() method
This basically method call to convert a existig data object into a pandas time related object. i.e it can take an input of a string ,  or a list of string or python datetime object and convert into pandas timestamp

In [11]:
#some examples
pd.to_datetime("2001-04-05")
pd.to_datetime(dt.datetime(2016,4,5))
pd.to_datetime(dt.datetime(2016,4,5,14,4,2))
pd.to_datetime(["2020-08-29","2020/08/29","2020","July 4th,1990"])

DatetimeIndex(['2020-08-29', '2020-08-29', '2020-01-01', '1990-07-04'], dtype='datetime64[ns]', freq=None)

# Create Range of Dates with the pd.date_range() 
A function  which allows us to genrate date ranges or date time index Automatically.

In [18]:
pd.date_range(start= "2020-08-29",end = '2020-09-08')
#it will return the date index start from the started date and end upto 
#ended date and it will move by daywise as it mention as freq= 'D' that is default

DatetimeIndex(['2020-08-29', '2020-08-30', '2020-08-31', '2020-09-01',
               '2020-09-02', '2020-09-03', '2020-09-04', '2020-09-05',
               '2020-09-06', '2020-09-07', '2020-09-08'],
              dtype='datetime64[ns]', freq='D')

In [20]:
times = pd.date_range(start= "2020-08-29",end = '2020-09-08',freq='D')

In [23]:
times
times[0]
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [24]:
#freq parameter basically act as the interval between how its going to be seprate
#the value that make up datetime index so D is basically a one day

In [30]:
pd.date_range(start= "2020-08-29",end = '2020-09-08',freq='1D')#regular one day
pd.date_range(start= "2020-08-29",end = '2020-09-08',freq='3D')#regular 3day
pd.date_range(start= "2020-08-29",end = '2020-09-08',freq='B')
#B as buisness day weekend not included

DatetimeIndex(['2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03',
               '2020-09-04', '2020-09-07', '2020-09-08'],
              dtype='datetime64[ns]', freq='B')

In [32]:
#W stand for Week and W-SUN for Week Sunday so here 30th aug is sunday and 5th sept is again sunday
pd.date_range(start= "2020-08-29",end = '2020-09-08',freq='W')

DatetimeIndex(['2020-08-30', '2020-09-06'], dtype='datetime64[ns]', freq='W-SUN')

In [40]:
#that is configurable
pd.date_range(start= "2020-08-29",end = '2020-09-08',freq='W-MON')
pd.date_range(start= "2020-08-29",end = '2020-09-08',freq='W-Tue')
pd.date_range(start= "2020-08-29",end = '2020-09-08',freq='W-WED')
pd.date_range(start= "2020-08-29",end = '2020-09-08',freq='W-THU')
pd.date_range(start= "2020-08-29",end = '2020-09-08',freq='W-FRI')
pd.date_range(start= "2020-08-29",end = '2020-09-08',freq='W-SAT')

DatetimeIndex(['2020-08-29', '2020-09-05'], dtype='datetime64[ns]', freq='W-SAT')

In [41]:
pd.date_range(start= "2020-08-29",end = '2020-09-08',freq='H')
#every single hour

DatetimeIndex(['2020-08-29 00:00:00', '2020-08-29 01:00:00',
               '2020-08-29 02:00:00', '2020-08-29 03:00:00',
               '2020-08-29 04:00:00', '2020-08-29 05:00:00',
               '2020-08-29 06:00:00', '2020-08-29 07:00:00',
               '2020-08-29 08:00:00', '2020-08-29 09:00:00',
               ...
               '2020-09-07 15:00:00', '2020-09-07 16:00:00',
               '2020-09-07 17:00:00', '2020-09-07 18:00:00',
               '2020-09-07 19:00:00', '2020-09-07 20:00:00',
               '2020-09-07 21:00:00', '2020-09-07 22:00:00',
               '2020-09-07 23:00:00', '2020-09-08 00:00:00'],
              dtype='datetime64[ns]', length=241, freq='H')

In [43]:
pd.date_range(start= "2020-08-29",end = '2020-09-08',freq='24H')
#every 24 Hour

DatetimeIndex(['2020-08-29', '2020-08-30', '2020-08-31', '2020-09-01',
               '2020-09-02', '2020-09-03', '2020-09-04', '2020-09-05',
               '2020-09-06', '2020-09-07', '2020-09-08'],
              dtype='datetime64[ns]', freq='24H')

In [45]:
pd.date_range(start= "2020-08-29",end = '2020-09-08',freq='M')
#M for end month

DatetimeIndex(['2020-08-31'], dtype='datetime64[ns]', freq='M')

In [47]:
pd.date_range(start= "2020-08-29",end = '2020-09-08',freq='MS')
#Month Start

DatetimeIndex(['2020-09-01'], dtype='datetime64[ns]', freq='MS')

In [48]:
pd.date_range(start= "2020-08-29",end = '2050-09-08',freq='A')
#year end

DatetimeIndex(['2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

A lot to play around with dates and time in pandas.But the basic core concept of this remains the same.You specify the start date , end date and the critical frequency that represent how many regular days , business days  and how many hours or months will

In [55]:
#another example
#periods is how many dates you want default freq is D
pd.date_range(start = '2020-08-29',periods=5,freq='M')
pd.date_range(start= "2020-08-29",periods=3,freq='MS')

DatetimeIndex(['2020-09-01', '2020-10-01', '2020-11-01'], dtype='datetime64[ns]', freq='MS')

In [57]:
pd.date_range(end = '2020-09-08',periods=20)
#periods is how many dates you want default freq is D

DatetimeIndex(['2020-08-20', '2020-08-21', '2020-08-22', '2020-08-23',
               '2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27',
               '2020-08-28', '2020-08-29', '2020-08-30', '2020-08-31',
               '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06', '2020-09-07', '2020-09-08'],
              dtype='datetime64[ns]', freq='D')

# .dt Accessor
This is similar to .str accessor we had used when we was working with Datetime. In order to access an attribute of series or dataframe that consist of datetime we have to use a prefix name as .dt with that accessor or before we get any of our attributes

In [61]:
dates = pd.date_range(start='2020-08-29',end='2020-09-08')
s = pd.Series(dates)
s

0    2020-08-29
1    2020-08-30
2    2020-08-31
3    2020-09-01
4    2020-09-02
5    2020-09-03
6    2020-09-04
7    2020-09-05
8    2020-09-06
9    2020-09-07
10   2020-09-08
dtype: datetime64[ns]

In [68]:
#Lets have a look 
#this date is aliase which we imnported dattime module 
d = dt.datetime(2020,8,29)
d.day

29

In [69]:
#perform this same on series
s.day #this is not going to work for this we have to use dt prefix or accesor

AttributeError: 'Series' object has no attribute 'day'

In [70]:
s.dt.day

0     29
1     30
2     31
3      1
4      2
5      3
6      4
7      5
8      6
9      7
10     8
dtype: int64

In [73]:
s.dt.weekday_name
s.dt.month
s.dt.year

0     2020
1     2020
2     2020
3     2020
4     2020
5     2020
6     2020
7     2020
8     2020
9     2020
10    2020
dtype: int64

In [76]:
a = s.dt.is_month_start
s[a]

3   2020-09-01
dtype: datetime64[ns]

In [12]:
#datareader is just to read the data from internet and get as a dataframe
pip install pandas-datareader

Collecting pandas-datareader
  Downloading https://files.pythonhosted.org/packages/22/f1/a02eea03628865c3d4c29849cda8c8a73f43358048aee47d79dfbfa6c6c3/pandas_datareader-0.9.0-py3-none-any.whl (107kB)
    100% |████████████████████████████████| 112kB 795kB/s ta 0:00:01
Collecting lxml (from pandas-datareader)
  Downloading https://files.pythonhosted.org/packages/79/37/d420b7fdc9a550bd29b8cfeacff3b38502d9600b09d7dfae9a69e623b891/lxml-4.5.2-cp36-cp36m-manylinux1_x86_64.whl (5.5MB)
    100% |████████████████████████████████| 5.5MB 206kB/s ta 0:00:01
Collecting requests>=2.19.0 (from pandas-datareader)
  Using cached https://files.pythonhosted.org/packages/45/1e/0c169c6a5381e241ba7404532c16a21d86ab872c9bed8bdcd4c423954103/requests-2.24.0-py2.py3-none-any.whl
Collecting pandas>=0.23 (from pandas-datareader)
  Downloading https://files.pythonhosted.org/packages/a7/f7/2adca20a7fa71b6a32f823bbd83992adeceab1d8bf72992bb7a55c69c19a/pandas-1.1.0-cp36-cp36m-manylinux1_x86_64.whl (10.5MB)
    100% |████████████████████████████████| 10.5MB 109kB/s ta 0:00:01
Collecting chardet<4,>=3.0.2 (from requests>=2.19.0->pandas-datareader)
  Using cached https://files.pythonhosted.org/packages/bc/a9/01ffebfb562e4274b6487b4bb1ddec7ca55ec7510b22e4c51f14098443b8/chardet-3.0.4-py2.py3-none-any.whl
Collecting idna<3,>=2.5 (from requests>=2.19.0->pandas-datareader)
  Using cached https://files.pythonhosted.org/packages/a2/38/928ddce2273eaa564f6f50de919327bf3a00f091b5baba8dfa9460f3a8a8/idna-2.10-py2.py3-none-any.whl
Collecting certifi>=2017.4.17 (from requests>=2.19.0->pandas-datareader)
  Using cached https://files.pythonhosted.org/packages/5e/c4/6c4fe722df5343c33226f0b4e0bb042e4dc13483228b4718baf286f86d87/certifi-2020.6.20-py2.py3-none-any.whl
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 (from requests>=2.19.0->pandas-datareader)
  Downloading https://files.pythonhosted.org/packages/9f/f0/a391d1463ebb1b233795cabfc0ef38d3db4442339de68f847026199e69d7/urllib3-1.25.10-py2.py3-none-any.whl (127kB)
    100% |████████████████████████████████| 133kB 1.5MB/s ta 0:00:01
Collecting numpy>=1.15.4 (from pandas>=0.23->pandas-datareader)
  Using cached https://files.pythonhosted.org/packages/22/e7/4b2bdddb99f5f631d8c1de259897c2b7d65dcfcc1e0a6fd17a7f62923500/numpy-1.19.1-cp36-cp36m-manylinux1_x86_64.whl
Collecting pytz>=2017.2 (from pandas>=0.23->pandas-datareader)
  Using cached https://files.pythonhosted.org/packages/4f/a4/879454d49688e2fad93e59d7d4efda580b783c745fd2ec2a3adf87b0808d/pytz-2020.1-py2.py3-none-any.whl
Collecting python-dateutil>=2.7.3 (from pandas>=0.23->pandas-datareader)
  Using cached https://files.pythonhosted.org/packages/d4/70/d60450c3dd48ef87586924207ae8907090de0b306af2bce5d134d78615cb/python_dateutil-2.8.1-py2.py3-none-any.whl
Collecting six>=1.5 (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader)
  Using cached https://files.pythonhosted.org/packages/ee/ff/48bde5c0f013094d729fe4b0316ba2a24774b3ff1c52d924a8a4cb04078a/six-1.15.0-py2.py3-none-any.whl
Installing collected packages: lxml, chardet, idna, certifi, urllib3, requests, numpy, pytz, six, python-dateutil, pandas, pandas-datareader
Successfully installed certifi-2020.6.20 chardet-3.0.4 idna-2.10 lxml-4.5.2 numpy-1.19.1 pandas-1.1.0 pandas-datareader-0.9.0 python-dateutil-2.8.1 pytz-2020.1 requests-2.24.0 six-1.15.0 urllib3-1.25.10
Note: you may need to restart the kernel to use updated packages.

In [9]:
from pandas_datareader import data as web

In [12]:
#to get the data from internet as a source
company = "MSFT"
start = "2010-01-01"
end = "2020-08-04"
stocks = web.DataReader(name = company , data_source = "yahoo" ,start = start,end = end)

In [13]:
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  23.858992
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.226894
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.234720
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.085989
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.835503

# Selecting and extracting the row from a dataframe with a datetime index

In [25]:
stocks.loc['2019-08-29']
stocks.iloc[305]
stocks.loc['2019-08-29':]#till last day
stocks.loc['2019-08-29':'2019-09-08']#till given date

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-08-29,138.440002,136.910004,137.250000,138.119995,20168700.0,136.895386
2019-08-30,139.179993,136.270004,139.149994,137.860001,23940100.0,136.637711
2019-09-03,137.199997,135.699997,136.610001,136.039993,18869300.0,134.833832
2019-09-04,137.690002,136.479996,137.300003,137.630005,17995900.0,136.409744
2019-09-05,140.380005,138.759995,139.110001,140.050003,26101800.0,138.808273
2019-09-06,140.179993,138.199997,140.029999,139.100006,20824500.0,137.866699

In [32]:
birthdays = pd.date_range(start = '2010-08-29',end = '2020-08-03',freq=pd.DateOffset(years=1))

In [36]:
#i got only that information from my birthdays
a = stocks.index.isin(birthdays)
stocks[a]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2011-08-29,25.860001,25.370001,25.530001,25.840000,38863200.0,21.038324
2012-08-29,30.750000,30.440001,30.650000,30.650000,23346800.0,25.642759
2013-08-29,33.599998,32.799999,32.930000,33.549999,45284700.0,28.936506
2014-08-29,45.439999,44.860001,45.090000,45.430000,21607600.0,40.306885
2016-08-29,58.599998,58.099998,58.180000,58.099998,16417200.0,54.380192
2017-08-29,73.160004,72.050003,72.250000,73.050003,11478400.0,70.020271
2018-08-29,112.029999,110.269997,110.449997,112.019997,20818000.0,109.309135
2019-08-29,138.440002,136.910004,137.250000,138.119995,20168700.0,136.895386