# MultiIndex
its just an index with multiple level;s or multiple layer

In [1]:
#importing library
import pandas as pd

In [4]:
#import dataset
data = pd.read_csv('datasets/bigmac.csv', parse_dates=["Date"])
data

          Date        Country  Price in US Dollars
0   2016-01-01      Argentina                 2.39
1   2016-01-01      Australia                 3.74
2   2016-01-01         Brazil                 3.35
3   2016-01-01        Britain                 4.22
4   2016-01-01         Canada                 4.14
..         ...            ...                  ...
647 2010-01-01         Turkey                 3.83
648 2010-01-01            UAE                 2.99
649 2010-01-01        Ukraine                 1.83
650 2010-01-01  United States                 3.58
651 2010-01-01        Uruguay                 3.32

[652 rows x 3 columns]

In [6]:
data.dtypes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
Date                   652 non-null datetime64[ns]
Country                652 non-null object
Price in US Dollars    652 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 15.4+ KB

In [11]:
#set index by using set index method
data.set_index(keys = 'Date')
# MultiIndex : its just an index with multiple level;s or multiple layer
"""
Mean if 2 levels are used it just means that two values will needed to be passed to dertermine
what row to extract.
Basically we are just adding an additional dimension to the index.
Lets create a dataframe with multi index
"""

                  Country  Price in US Dollars
Date
2016-01-01      Argentina                 2.39
2016-01-01      Australia                 3.74
2016-01-01         Brazil                 3.35
2016-01-01        Britain                 4.22
2016-01-01         Canada                 4.14
...                   ...                  ...
2010-01-01         Turkey                 3.83
2010-01-01            UAE                 2.99
2010-01-01        Ukraine                 1.83
2010-01-01  United States                 3.58
2010-01-01        Uruguay                 3.32

[652 rows x 2 columns]

In [13]:
#one way
data.set_index(['Date','Country'])

#it will return a dataframe with 2 index where date is the first index(outer layer ) and
#country (second layer or second layer )is a subindex.
#the column has the least number of unique values should serve as a most outer layer
#you can see if i change the order of multiindexid dataframne
data.set_index(['Country','Date']) #it dosent make a some sense.

                          Price in US Dollars
Country       Date
Argentina     2016-01-01                 2.39
Australia     2016-01-01                 3.74
Brazil        2016-01-01                 3.35
Britain       2016-01-01                 4.22
Canada        2016-01-01                 4.14
...                                       ...
Turkey        2010-01-01                 3.83
UAE           2010-01-01                 2.99
Ukraine       2010-01-01                 1.83
United States 2010-01-01                 3.58
Uruguay       2010-01-01                 3.32

[652 rows x 1 columns]

In [15]:
data.set_index(['Date','Country'], inplace= True)

KeyError: "None of ['Date', 'Country'] are in the columns"

In [29]:
#2nd way 
data1 = pd.read_csv('datasets/bigmac.csv', parse_dates=["Date"],index_col=['Date','Country'])
data1

                          Price in US Dollars
Date       Country
2016-01-01 Argentina                     2.39
           Australia                     3.74
           Brazil                        3.35
           Britain                       4.22
           Canada                        4.14
...                                       ...
2010-01-01 Turkey                        3.83
           UAE                           2.99
           Ukraine                       1.83
           United States                 3.58
           Uruguay                       3.32

[652 rows x 1 columns]

In [16]:
data

                          Price in US Dollars
Date       Country
2016-01-01 Argentina                     2.39
           Australia                     3.74
           Brazil                        3.35
           Britain                       4.22
           Canada                        4.14
...                                       ...
2010-01-01 Turkey                        3.83
           UAE                           2.99
           Ukraine                       1.83
           United States                 3.58
           Uruguay                       3.32

[652 rows x 1 columns]

In [20]:
#sort both the index
data.sort_index(inplace=True)
data

                          Price in US Dollars
Date       Country
2010-01-01 Argentina                     1.84
           Australia                     3.98
           Brazil                        4.76
           Britain                       3.67
           Canada                        3.97
...                                       ...
2016-01-01 Ukraine                       1.54
           United States                 4.93
           Uruguay                       3.74
           Venezuela                     0.66
           Vietnam                       2.67

[652 rows x 1 columns]

In [24]:
#some attribute
data.index
data.index.names

FrozenList(['Date', 'Country'])

In [26]:
type(data.index)

pandas.core.indexes.multi.MultiIndex

In [28]:
#extraction
data.index[0] #very first element that is combined tuple

(Timestamp('2010-01-01 00:00:00'), 'Argentina')

Previously when we extracted values from a dataframe we had to provide a single value for the so pandas knows what index position or what index label to extract.Now because of our index consist of multi dimension we are going to have to pass a tuple in order to indicate that we want to extract a more than one thing.
We need to indicate what combination of data and country form the label for the row we want to extract.Another thing i want to add that either you are working on the small dataset or a large dataset. Sorting the index is greatlty enhance the speed and effficiency of basically every method.The algorithm the pandas relies on in the backend to find what you bare looking fir is basically much faster as pandas know that its working with a dataset or an index that's kind of sorted in sequence.